.NinaObjectPasteBefore > .NinaActionHelper:before{
	content: "Coller avant";
}
.NinaObjectPasteAfter > .NinaActionHelper:before {
	content: "Coller après";
}
.NinaObjectAddBefore > .NinaActionHelper:before {
	content: "Ajouter avant";
}
.NinaObjectAddAfter > .NinaActionHelper:before {
	content: "Ajouter après";
}
.NinaObjectUpdate > .NinaActionHelper:before {
	content: "Modifier";
}
.NinaObjectCopy > .NinaActionHelper:before {
	content: "Copier";
}
.NinaObjectDelete > .NinaActionHelper:before {
	content: "Supprimer";
}
.NinaObjectHandle > .NinaActionHelper:before, .NinaBlocHandle > .NinaActionHelper:before {
	content: "Déplacer";
}
.NinaBlocAdd > .NinaActionHelper:before {
	content: "Ajouter";
}
.NinaBlocCopy > .NinaActionHelper:before {
	content: "Copier";
}
.NinaBlocPaste > .NinaActionHelper:before {
	content: "Coller";
}
.NinaBlocDelete > .NinaActionHelper:before {
	content: "Supprimer";
}
.NinaBlocMenuClose > .NinaActionHelper:before {
	content: "Fermer";
}
.NinaImgZoom- > .NinaActionHelper:before {
	content: "Zoom arrière";
}
.NinaImgZoom > .NinaActionHelper:before {
	content: "Zoom avant";
}
.NinaImgRotate > .NinaActionHelper:before {
	content: "Rotation 90°";
}
.NinaImgFit > .NinaActionHelper:before {
	content: "Utiliser l'espace disponible";
}
.NinaHandleHelper:before {
	content: "Gestion du bloc";
}

