.NinaObjectPasteBefore > .NinaActionHelper:before{
	content: "Paste before";
}
.NinaObjectPasteAfter > .NinaActionHelper:before {
	content: "Paste after";
}
.NinaObjectAddBefore > .NinaActionHelper:before {
	content: "Add before";
}
.NinaObjectAddAfter > .NinaActionHelper:before {
	content: "Add after";
}
.NinaObjectCopy > .NinaActionHelper:before {
	content: "Copy";
}
.NinaObjectDelete > .NinaActionHelper:before {
	content: "Delete";
}
.NinaObjectHandle > .NinaActionHelper:before, .NinaBlocHandle > .NinaActionHelper:before {
	content: "Move";
}
.NinaBlocAdd > .NinaActionHelper:before {
	content: "Add";
}
.NinaBlocCopy > .NinaActionHelper:before {
	content: "Copy";
}
.NinaBlocPaste > .NinaActionHelper:before {
	content: "Paste";
}
.NinaBlocDelete > .NinaActionHelper:before {
	content: "Delete";
}
.NinaBlocMenuClose > .NinaActionHelper:before {
	content: "Close";
}
.NinaImgZoom- > .NinaActionHelper:before {
	content: "Zoom in";
}
.NinaImgZoom > .NinaActionHelper:before {
	content: "Zoom out";
}
.NinaImgRotate > .NinaActionHelper:before {
	content: "Rotate 90°";
}
.NinaImgFit > .NinaActionHelper:before {
	content: "Fit available space";
}
.NinaHandleHelper:before {
	content: "Bloc management";
}

