<template>
  <div>

    <template v-for="chunk in chunkedMediasContainers">
      <div class="row">
        <div v-for="medias_container, index in chunk"
             :class="'col-xs-' + (12 / elementsPerColumn)">
          <grid-tile :mediatheque="mediatheque" type="medias_container"
                     :medias-container="medias_container"></grid-tile>
        </div>
      </div>
    </template>

    <template v-for="chunk in chunkedMedias">
      <div class="row">
        <div v-for="media, index in chunk"
             :class="'col-xs-' + (12 / elementsPerColumn)">
          <grid-tile :mediatheque="mediatheque" type="media" :media="media"></grid-tile>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import chunk from 'lodash.chunk'

  import GridTile from './GridTile.vue'

  export default {
    components: {
      GridTile
    },
    props: {
      mediatheque: {type: Object, required: true},
    },
    data () {
      return {
        elementsPerColumn: 4
      }
    },
    computed: {
      /**
       * Découpe le tableau de medias_container par `this.elementsPerColumn`,
       * pour avoir un affichage correct avec Bootstrap et les GridTile.
       * @return {*}
       */
      chunkedMediasContainers () {
        return chunk(this.mediatheque.explorer.files.medias_containers, this.elementsPerColumn)
      },
      /**
       * Découpe le tableau de medias par `this.elementsPerColumn`,
       * pour avoir un affichage correct avec Bootstrap et les GridTile.
       * @return {*}
       */
      chunkedMedias () {
        return chunk(this.mediatheque.explorer.files.medias, this.elementsPerColumn)
      }
    },
  }
</script>

<style scoped lang="scss">
  $color: #f0f0f0;
  $gutter: 10px;

  .row {
    padding-left: 15px;
    padding-right: #{15px + $gutter};

    &:last-child {
      padding-bottom: $gutter;
    }

    [class^="col-"],
    [class*= "col-"] {
      padding: $gutter 0 0 $gutter;
    }
  }
</style>
