<template>
  <div class="tile"
       :class="classesForTile(media ? media : mediasContainer)"
       :title="media ? media.label : mediasContainer.label"
       :data-nina-mediatheque-contextual-menu="type"
       :data-nina-mediatheque-contextual-menu-id="media ? media.id : mediasContainer.id">

    <template v-if="type === 'medias_container'">
      <div @click="goToMediasContainer(mediasContainer.id)"
           class="label label-folder">
        <i v-if="mediasContainer.category === 'medias_container_for_uploads'" class="fa fa-upload"></i>
        <i v-else class="fa fa-folder"></i>

        {{mediasContainer.label}}
      </div>
    </template>

    <template v-if="type === 'media'">
      <thumbnail :media="media"></thumbnail>

      <div class="label">
        <media-selector v-if="mediasSelection !== null" :media="media"></media-selector>
        <file-icon-by-mime-type :mimetype="media.data['mimetype'] || null"></file-icon-by-mime-type>
        {{media.label}}
      </div>
    </template>

  </div>
</template>

<script>
  import Bus from '../../../../bus'
  import Events from '../../../../events'

  import FileIconByMimeType from '../FileIconByMimeType.vue'
  import MediaSelector from '../MediaSelector.vue'
  import Thumbnail from '../Thumbnail.vue'

  export default {
    components: {
      FileIconByMimeType,
      MediaSelector,
      Thumbnail
    },
    props: {
      mediatheque: {type: Object, required: true},
      type: {type: String, required: true},
      mediasContainer: {type: Object, required: false},
      media: {type: Object, required: false},
    },
    computed: {
      clipboard () {
        return this.mediatheque.clipboard
      },
      mediasSelection () {
        return this.mediatheque.explorer.medias_selection
      }
    },
    methods: {
      classesForTile (media) {
        return {
          'tile__media': media.category === 'media',
          'tile__medias-container': media.category === 'medias_container',
          'tile__copy': this.hasCopyState(media),
          'tile__cut': this.hasCutState(media),
        }
      },
      goToMediasContainer (medias_container_id) {
        Bus.$emit(Events.Mediatheque.Navigation.GO_TO, medias_container_id)
      },
      hasCopyState (media) {
        return this.clipboard.file.id === media.id && this.clipboard.action === 'copy'
      },
      hasCutState (media) {
        return this.clipboard.file.id === media.id && this.clipboard.action === 'cut'
      },
    }
  }
</script>

<style scoped lang="scss">
  $color: #ebebeb;
  $active-color: dodgerblue;
  $border-radius: 4px;

  .tile {
    position: relative;
    border-radius: $border-radius;
    background-color: $color;

    &::before {
      content: ' ';
      position: absolute;
      z-index: 1;
      top: 3px;
      left: 3px;

      color: #fff;
      background-color: $active-color;
      border-radius: $border-radius;
      font-family: FontAwesome;

      opacity: 0;
      transition: all .1s ease-in-out;
    }

    &.tile__medias-container::before {
      left: auto;
      right: 3px;
    }

    &.tile__copy::before,
    &.tile__cut::before {
      padding: 2px 5px;
    }

    &.tile__copy::before {
      opacity: 1;
      content: "\f0c5";
    }

    &.tile__cut::before {
      opacity: 1;
      content: "\f0c4";
    }
  }

  .label {
    padding: 8px;

    border-radius: 0 0 $border-radius $border-radius;
    font-size: 13px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    transition: all .1s linear;
  }

  .label-folder {
    cursor: pointer;
  }

  .thumbnail {
    height: 50px;

    &.thumbnail-image {
      background-color: indianred;
    }

    &.thumbnail-video {
      background-color: dodgerblue;
    }

    &.thumbnail-audio {
      background-color: forestgreen;
    }
  }

  input[type=checkbox].select-file {
    vertical-align: text-bottom;
  }
</style>
