<template>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nom</th>
    </tr>
    </thead>
    <tbody>

    <template v-for="medias_container in medias_containers">
      <tr @click="goToMediasContainer(medias_container.id)"
          data-nina-mediatheque-contextual-menu="mediasContainer"
          :data-nina-mediatheque-contextual-menu-id="medias_container.id"
          class="folder">
        <td>
          <i class="fa fa-folder"></i>
          {{medias_container.label}}
        </td>
      </tr>
    </template>

    <template v-for="media in medias">
      <tr data-nina-mediatheque-contextual-menu="media"
          :data-nina-mediatheque-contextual-menu-id="media.id">
        <td>
          <media-selector v-if="mediasSelection !== null" :media="media"></media-selector>
          <i class="fa fa-file"></i>
          {{media.label}}
        </td>
      </tr>
    </template>
    </tbody>
  </table>
</template>

<script>
  import Bus from '../../../../bus'
  import Events from '../../../../events'

  import FileIconByMimeType from '../FileIconByMimeType.vue'
  import MediaSelector from '../MediaSelector.vue'

  export default {
    components: {
      FileIconByMimeType,
      MediaSelector,
    },
    props: {
      mediatheque: {type: Object, required: true},
    },
    computed: {
      medias_containers () {
        return this.mediatheque.explorer.files.medias_containers
      },
      medias () {
        return this.mediatheque.explorer.files.medias
      },
      mediasSelection () {
        return this.mediatheque['medias_selection']
      }
    },
    methods: {
      goToMediasContainer (medias_container_id) {
        Bus.$emit(Events.Mediatheque.Navigation.GO_TO, medias_container_id)
      },
    },
  }
</script>

<style scoped>
  .folder {
    cursor: pointer;
  }
</style>
