<template>
  <div class="NinaBlocManager" :class="{visible}">

    <div class="NinaBlocManagerMenu NinaBlocManagerMenuTop" v-show="visible">
      <div>
        <button
            title="Maintenir pour déplacer"
            class="NinaBlocHandle btn btn-xs btn-default">
          <i class="fa fa-arrows"></i>
        </button>
      </div>
      <div class="nina-btn-group">
        <button
            @click.prevent="onUpdateColumns"
            :disabled="httpOperationIsPending"
            title="Modifier"
            class="btn btn-xs btn-default">
          <i class="fa fa-pencil"></i>
        </button>
        <button
            @click.prevent="onCopyColumns"
            :disabled="httpOperationIsPending"
            title="Copier les colonnes"
            class="btn btn-xs btn-default">
          <i class="fa fa-files-o"></i>
        </button>
        <button
            @click.prevent="onPasteBefore"
            :disabled="httpOperationIsPending || !canPaste()"
            title="Coller au dessus"
            class="btn btn-xs btn-default">
          <i class="fa fa-clipboard"></i>
        </button>
        <button
            @click.prevent="onDeleteColumns"
            :disabled="httpOperationIsPending"
            title="Supprimer toutes les colonnes"
            class="btn btn-xs btn-danger">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="text-right">
        <button
            @click.prevent="onClose"
            :disabled="httpOperationIsPending"
            title="Fermer le gestionnaire de colonnes"
            class="btn btn-xs btn-default">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
    </div>

    <!-- Contient le réel composant générée par Twig -->
    <div class="NinaBlocInner"></div>

    <!-- Le BlocManager, avec les colonnes générées en fonction des colonnes existantes -->
    <div class="NinaBlocManagerContainer" v-if="visible">
      <div class="NinaBlocManagerColumns">
        <!--
          Rendu des colonnes, en fonction de this.columns.
          Voir this.mimicInnerBlockColumnsIntoBlocManagerColumns()
        -->
        <div v-for="column, $index in columns"
             class="NinaBlocManagerColumn"
             :data-inner-column-id="column.attrId"
             :style="{width: column.width + '%'}">

          <div class="NinaBlocManagerColumnFooter">
            <div class="NinaBlocManagerColumnFooterButtons">
              <popper trigger="hover" :visible-arrow="false" :delay-on-mouse-out="300" :options="{placement: 'top'}">
                <div class="popper">
                  <button @click.prevent="onMoveToLeft(column)"
                          :disabled="httpOperationIsPending"
                          v-if="$index > 0"
                          title="Déplacer la colonne à gauche"
                          class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                  </button>
                  <button @click.prevent="onAddColumnBefore(column)"
                          :disabled="httpOperationIsPending || !canAddAColumnBefore(column)"
                          title="Ajouter une colonne avant"
                          class="btn btn-xs btn-primary">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                </div>

                <span slot="reference" class="btn-xs">
                  <i class="fa fa-ellipsis-v"></i>
                </span>
              </popper>

              <div>
                <button
                    @click.prevent="onUpdateColumn(column)"
                    :disabled="httpOperationIsPending"
                    title="Modifier"
                    class="btn btn-xs btn-default">
                  <i class="fa fa-pencil"></i>
                </button>
                <button
                    @click.prevent="onDeleteColumn(column)"
                    :disabled="httpOperationIsPending || !canDeleteColumn()"
                    title="Supprimer la colonne"
                    class="btn btn-xs btn-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>

              <popper trigger="hover" :visible-arrow="false" :delay-on-mouse-out="300" :options="{placement: 'top'}">
                <div class="popper">
                  <button @click.prevent="onAddColumnAfter(column)"
                          :disabled="httpOperationIsPending || !canAddAColumnAfter(column)"
                          title="Ajouter une colonne après"
                          class="btn btn-xs btn-primary">
                    <i class="fa fa-plus-circle"></i>
                  </button>
                  <button @click.prevent="onMoveToRight(column)"
                          :disabled="httpOperationIsPending"
                          v-if="$index !== columns.length - 1"
                          title="Déplacer la colonne à droite"
                          class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-right"></i>
                  </button>
                </div>

                <span slot="reference" class="btn-xs">
                  <i class="fa fa-ellipsis-v"></i>
                </span>
              </popper>
            </div>
            <div>
              {{ Math.round(column.width) }} %
            </div>
          </div>

          <!--
            Le nombre de séparateurs de colonnes doit être égal à
            nombreColonnes - 1, car il ne faut pas de séparateur de
            colonnes entre la dernière colonne, et ... bah rien.
          -->
          <template v-if="$index < columns.length - 1">
            <div class="NinaBlocManagerColumnsSeparator">
              <div class="NinaBlocManagerColumnsSeparatorHelper"></div>
            </div>
          </template>
        </div>
      </div>
    </div>

    <div class="NinaBlocManagerMenu NinaBlocManagerMenuBottom" v-show="visible">
      <div>
        <button
            title="Maintenir pour déplacer"
            class="NinaBlocHandle btn btn-xs btn-default">
          <i class="fa fa-arrows"></i>
        </button>
      </div>
      <div class="nina-btn-group">
        <button
            @click.prevent="onUpdateColumns"
            :disabled="httpOperationIsPending"
            title="Modifier"
            class="btn btn-xs btn-default">
          <i class="fa fa-pencil"></i>
        </button>
        <button
            @click.prevent="onCopyColumns"
            :disabled="httpOperationIsPending"
            title="Copier les colonnes"
            class="btn btn-xs btn-default">
          <i class="fa fa-files-o"></i>
        </button>

        <button
            @click.prevent="onPasteAfter"
            :disabled="httpOperationIsPending || !canPaste()"
            title="Coller en dessous"
            class="btn btn-xs btn-default">
          <i class="fa fa-clipboard"></i>
        </button>

        <button
            @click.prevent="onDeleteColumns"
            :disabled="httpOperationIsPending"
            title="Supprimer toutes les colonnes"
            class="btn btn-xs btn-danger">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="text-right">
        <button
            @click.prevent="onClose"
            :disabled="httpOperationIsPending"
            title="Fermer le gestionnaire de colonnes"
            class="btn btn-xs btn-default">
          <i class="fa fa-times-circle"></i>
        </button>
      </div>
    </div>

    <button
        @click="visible = true"
        class="btn btn-default btn-block NinaHandle"
        v-show="!visible"
        :disabled="httpOperationIsPending">
      Gestion des colonnes
    </button>
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'

  import Bus from './../bus'
  import Events from '../events'

  import { extractObjectId } from './../Helpers'
  import Http from './../NinaHttp'

  import * as Helper from './../Helpers'
  import * as Mutation from '../store/mutation-types'
  import ManagerOnUpdate from './ManagerOnUpdate'

  /**
   * @vue
   */
  export default {
    data () {
      return {
        visible: false,
        bloc: null,
        maxColumns: 12,
        columnsWidthTable: [],
        columns: []
      }
    },
    computed: {
      ...mapGetters(['componentToCopy', 'httpOperationIsPending']),
    },
    watch: {
      /**
       * Fonction exécutée à chaque fois que la valeur 'this.visible' est modifiée.
       */
      visible (isVisible) {
        if (isVisible) {
          // On attend que VueJS termine d'avoir rendu les colonnes
          this.$nextTick(function () {
            this.addColumnsSeparatorDraggableState()
          })
        } else {
          // Mais pas ici, on a besoin de le faire avant la disparition
          // des colonnes
          this.removeColumnsSeparatorDraggableState()
        }
      }
    },
    methods: {
      /**
       * Retourne les #Nina_Column_... du bloc, celles qui sont dans
       * .NinaBlocInner.
       */
      $innerColumns () {
        return $(this.$el).find('> .NinaBlocInner > .row > [id^="Nina_Column_"]').get()
      },

      // ----------------------------------------------------------------------
      // Méthodes réagissant au clic d'un bouton
      // ----------------------------------------------------------------------

      /**
       * Exécutée lors du clic sur le bouton « Supprimer les colonnes ».
       */
      onDeleteColumns () {
        if (!confirm('Êtes-vous sûr de vouloir supprimer toutes les colonnes ?')) {
          return
        }

        const id = Helper.extractObjectId(this.bloc)

        Http.Objects.delete(id, json => {
          if (json.error) {
            return
          }

          this.$destroy()
        })
      },

      /**
       * Exécutée lors du clic sur le bouton « Modifier les colonnes ».
       */
      onUpdateColumns () {
        new ManagerOnUpdate(this, this.bloc, (managerOnUpdate, json) => {
          $(this.bloc).replaceWith(json.html)

          Bus.$emit(Events.OBJECTS_ARE_DIRTY)

          this.$toasted.success('Les colonnes ont bien été modifiées !')
          managerOnUpdate.modal.close()
        })
      },

      /**
       * Exécutée lors du clic sur le bouton « Copier les colonnes ».
       */
      onCopyColumns () {
        const id = Helper.extractObjectId(this.bloc)
        const klass = Helper.extractObjectClass(this.bloc)

        this.$store.commit(Mutation.COPY_COMPONENT, {
          id,
          'class': klass
        })

        this.$toasted.info('Les colonnes ont bien été copiées en mémoire.')
      },

      /**
       * Exécutée par l'utilisateur lorsqu'il clique sur le bouton « Coller les colonnes avant ».
       */
      onPasteBefore () {
        this._onPaste(true)
      },

      /**
       * Exécutée lors du clic sur le bouton « Coller les colonnes après ».
       */
      onPasteAfter () {
        this._onPaste(false)
      },

      /**
       * Exécutée lors du clic sur le bouton « Fermer le gestionnaire de colonnes ».
       */
      onClose () {
        this.visible = false
      },

      /**
       * Exécutée lors du clic sur le bouton « Ajouter une colonne avant ».
       * Crée une nouvelle colonne qui sera située avant la colonne passée en paramètre.
       *
       * @param {Object} column
       */
      onAddColumnBefore (column) {
        const columnIndex = this.columns.findIndex(c => c === column)
        const columnBefore = this.columns[columnIndex - 1]
        return this._addColumnBetween(columnBefore, column)
      },

      /**
       * Exécutée lors du clic sur le bouton « Ajouter une colonne après ».
       * Crée une nouvelle colonne qui sera située après la colonne passée en paramètre.
       *
       * @param {Object} column
       */
      onAddColumnAfter (column) {
        const columnIndex = this.columns.findIndex(c => c === column)
        const columnAfter = this.columns[columnIndex + 1]
        return this._addColumnBetween(column, columnAfter)
      },

      /**
       * Exécutée lors du clic sur le bouton « Déplacer sur la gauche ».
       *
       * @param {Object} column
       */
      onMoveToLeft (column) {
        this._onMoveTo(column, true)
      },

      /**
       * Exécutée lors du clic sur le bouton « Déplacer sur la droite ».
       *
       * @param {Object} column
       */
      onMoveToRight (column) {
        this._onMoveTo(column, false)
      },

      /**
       * Exécutée lors du clic sur le bouton « Modifier la colonne ».
       *
       * @param {Object} column
       */
      onUpdateColumn (column) {
        new ManagerOnUpdate(this, column.$el, (managerOnUpdate, json) => {
          const $$el = $(json.html)
          $(column.$el).replaceWith($$el)
          column.$el = $$el.get(0)

          this.removeColumnsSeparatorDraggableState()
          this.addColumnsSeparatorDraggableState()
          Bus.$emit(Events.OBJECTS_ARE_DIRTY)

          this.$toasted.success('La colonne a bien été modifiée !')
          managerOnUpdate.modal.close()
        })
      },

      /**
       * Exécutée lors du clic sur le bouton « Supprimer la colonne »".
       *
       * @param {Object} column
       */
      onDeleteColumn (column) {
        if (!this.canDeleteColumn()) {
          return
        }

        if (!confirm('Êtes-vous sûr de vouloir supprimer cette colonne ?')) {
          return
        }

        const columnIndex = this.columns.findIndex(c => c === column)
        const columnBefore = this.columns[columnIndex - 1]
        const columnAfter = this.columns[columnIndex + 1]

        const columnBSClass = this._extractBSColumnClass(column.$el)
        const columnBSClassNumber = this._extractBSColumnClassNumber(columnBSClass)

        const modifyColumnBeforeWidth = () => {
          _modifiyColumnWidth(columnBefore, true)
        }

        const modifyColumnAfterWidth = () => {
          _modifiyColumnWidth(columnAfter, false)
        }

        const _modifiyColumnWidth = (modifiedColumn, before = true) => {
          const modifiedColumnBSClass = this._extractBSColumnClass(modifiedColumn.$el)
          const modifiedColumnBSClassNumber = this._extractBSColumnClassNumber(modifiedColumnBSClass)
          let modifiedColumnNewBSClassNumber = columnBSClassNumber / (!!columnBefore + !!columnAfter)
          modifiedColumnNewBSClassNumber = modifiedColumnBSClassNumber +
            (before
                ? Math.ceil(modifiedColumnNewBSClassNumber)
                : Math.floor(modifiedColumnNewBSClassNumber)
            )
          const modifiedColumnNewBSClass = 'col-md-' + modifiedColumnNewBSClassNumber

          modifiedColumn.$el.classList.remove(modifiedColumnBSClass)
          modifiedColumn.$el.classList.add(modifiedColumnNewBSClass)
          modifiedColumn.width = this._convertBSColumnClassToWidth(modifiedColumnNewBSClass)
        }

        if (columnBefore) {
          modifyColumnBeforeWidth()
        }

        if (columnAfter) {
          modifyColumnAfterWidth()
        }

        Http.Objects.delete(column.id, json => {
          if (json.error) {
            return
          }

          $(column.$el).remove()
          this.columns.splice(columnIndex, 1)

          this.$nextTick(function () {
            Http.Objects.saveStyles({data: this._prepareColumnsStyles()}, json => {
              if (json.error) {
                return
              }

              Http.Objects.changeOrders({data: this._prepareColumnsOrders()}, json => {
                if (json.error) {
                  return
                }

                this.removeColumnsSeparatorDraggableState()
                this.addColumnsSeparatorDraggableState()
                this.$toasted.success('La colonne a bien été supprimée !')
              })
            })
          })
        })
      },

      // ----------------------------------------------------------------------
      // Méthodes décidant si oui ou non le clic d'un bouton est possible
      // ----------------------------------------------------------------------

      /**
       * Détermine si oui ou non l'utilisateur peur supprimer une colonne
       */
      canDeleteColumn () {
        return this.columns.length > 1
      },

      /**
       * Vérifie si on peut ajouter une nouvelle colonne après la colonne passée en paramètre.
       *
       * @param {Object} column
       *
       * @return boolean
       */
      canAddAColumnAfter (column) {
        const columnIndex = this.columns.findIndex(c => c === column)
        const columnAfter = this.columns[columnIndex + 1]
        const minColumnPercentageWidth = 1.00001 / this.maxColumns * 100

        if (column.width < minColumnPercentageWidth) {
          if (columnIndex === this.columns.length - 1) {
            return false
          }

          if (columnAfter && columnAfter.width < minColumnPercentageWidth) {
            return false
          }
        }

        return true
      },

      /**
       * Vérifie si on peut ajouter une nouvelle colonne avant la colonne passée en paramètre.
       *
       * @param {Object} column
       *
       * @return {boolean}
       */
      canAddAColumnBefore (column) {
        const columnIndex = this.columns.findIndex(c => c === column)
        const columnBefore = this.columns[columnIndex - 1]
        const minColumnPercentageWidth = 1.00001 / this.maxColumns * 100

        if (columnIndex === 0 && column.width < minColumnPercentageWidth) {
          return false
        }

        if (column.width < minColumnPercentageWidth) {
          if (columnIndex === 0) {
            return false
          }

          if (columnBefore && columnBefore.width < minColumnPercentageWidth) {
            return false
          }
        }

        return true
      },

      /**
       * Vérifie si on peut coller le composant en mémoire avant ou après nos colonnes.
       *
       * @return {boolean}
       */
      canPaste () {
        const componentToCopy = this.componentToCopy

        if (componentToCopy === null) {
          return false
        }

        // On vérifie si le parent de ce composant peut contenir le composant qu'on souhaite coller
        const $$parent = $(this.bloc).parent().closest('[id^="Nina_"]')

        // Vue est en train de faire un rendu, on attend.
        if ($$parent.length === 0) {
          return false
        }

        const parentClass = Helper.extractObjectClass($$parent)
        const componentsMetadata = this.$store.getters.componentsMetadata

        return componentsMetadata[parentClass].contains.includes(componentToCopy['class'])
      },

      // ----------------------------------------------------------------------
      // Méthodes internes pour celles qui réagissent au clic d'un bouton
      // ----------------------------------------------------------------------

      /**
       * Déplace une colonne vers la gauche ou la droite
       *
       * @param {Object} column
       * @param {Boolean} left
       */
      _onMoveTo (column, left = true) {
        const columnIndex = this.columns.findIndex(c => c === column)
        const otherColumnIndex = columnIndex + (left ? -1 : 1)
        const otherColumn = this.columns[otherColumnIndex]

        if (left) {
          $(column.$el).after(otherColumn.$el)
        } else {
          $(column.$el).before(otherColumn.$el)
        }

        Helper.swapArrayElements(this.columns, columnIndex, otherColumnIndex)

        this.$nextTick(function () {
          Http.Objects.changeOrders({data: this._prepareColumnsOrders()}, (json) => {
            this.removeColumnsSeparatorDraggableState()
            this.addColumnsSeparatorDraggableState()
            this.$toasted.success('Le déplacement de la colonne a bien été effectué !')
          })
        })
      },

      /**
       * Colle les colonnes avant ou après.
       *
       * @param {Boolean} [before=true]
       */
      _onPaste (before = true) {
        const data = {
          id: this.componentToCopy.id,
          parent_id: Helper.extractObjectId(this.bloc.parentNode)
        }

        const callback = (json) => {
          if (json.error) {
            return
          }

          if (before) {
            $(this.bloc).before(json['html'])
          } else {
            $(this.bloc).after(json['html'])
          }

          Http.Objects.changeOrders({data: this._prepareSiblingsOrders()}, (json) => {
            if (json.error) {
              return
            }

            this.$nextTick(function () {
              this.$toasted.success('L\'objet a bien été collé !')
              Bus.$emit(Events.OBJECTS_ARE_DIRTY)
            })
          })
        }

        if (before) {
          Http.Objects.pasteBefore(data, callback)
        } else {
          Http.Objects.pasteAfter(data, callback)
        }
      },

      /**
       * Rajoute une colonne entre les colonnes passées en paramètres
       *
       * @param {Object} columnBefore
       * @param {Object} columnAfter
       */
      _addColumnBetween (columnBefore, columnAfter) {
        // 1.00001 pour ne pas m'emmerder avec la comparaison des flottants..
        const minColumnPercentageWidth = 1.00001 / this.maxColumns * 100
        const columnBeforeCanBeModified = columnBefore && columnBefore.width > minColumnPercentageWidth
        const columnAfterCanBeModified = columnAfter && columnAfter.width > minColumnPercentageWidth

        const newColumnIndex = this.columns.findIndex(c => c === columnBefore) + 1
        const newColumnBSClassNumber = !!columnBeforeCanBeModified + !!columnAfterCanBeModified
        const newColumnPercentageWidth = newColumnBSClassNumber / this.maxColumns * 100
        const newColumn = {
          width: newColumnPercentageWidth,
          id: null,
          $el: null,
          attrId: null,
        }

        const modifyColumnBeforeWidth = () => {
          _modifyColumnWidth(columnBefore)
        }

        const modifyColumnAfterWidth = () => {
          _modifyColumnWidth(columnAfter)
        }

        const _modifyColumnWidth = (modifiedColumn) => {
          const modifiedColumnBSClass = this._extractBSColumnClass(modifiedColumn.$el)
          const modifiedColumnBSClassNumber = this._extractBSColumnClassNumber(modifiedColumnBSClass)
          const modifiedColumnNewBSClassNumber = modifiedColumnBSClassNumber - 1
          const modifiedColumnNewBSClass = 'col-md-' + modifiedColumnNewBSClassNumber

          modifiedColumn.$el.classList.remove(modifiedColumnBSClass)
          modifiedColumn.$el.classList.add(modifiedColumnNewBSClass)
          modifiedColumn.width = this._convertBSColumnClassToWidth(modifiedColumnNewBSClass)
        }

        if (columnBeforeCanBeModified) {
          modifyColumnBeforeWidth()
        }

        if (columnAfterCanBeModified) {
          modifyColumnAfterWidth()
        }

        // Création de la nouvelle colonne sur le serveur
        const data = {
          parent_id: Helper.extractObjectId(this.bloc),
          'class': 'Column',
          styles: {
            width: newColumn.width + '%'
          }
        }

        Http.Objects.create({data}, json => {
          if (json.error) {
            return
          }

          newColumn.id = json.component.id
          newColumn.$el = $(json.html).get(0)
          newColumn.attrId = newColumn.$el.getAttribute('id')

          this.columns.splice(newColumnIndex, 0, newColumn)

          Http.Objects.saveStyles({data: this._prepareColumnsStyles()}, (json) => {
            if (json.error) {
              return
            }

            // Ajout de l'élément HTML de la nouvelle colonne
            if (columnBefore) {
              $(columnBefore.$el).after(newColumn.$el)
            } else {
              $(columnAfter.$el).before(newColumn.$el)
            }

            this.$nextTick(function () {
              Http.Objects.changeOrders({data: this._prepareColumnsOrders()}, json => {})

              this.removeColumnsSeparatorDraggableState()
              this.addColumnsSeparatorDraggableState()
              this.$toasted.success('Une colonne a bien été ajoutée !')
            })
          })
        })
      },

      // ----------------------------------------------------------------------
      // Méthodes utilisées pour le redimensionnement des colonnes
      // ----------------------------------------------------------------------

      /**
       * Récupère les colonnes à dans le .NinaBlocInner, afin d'insérer des
       * "calques" de ces dernières dans le .NinaBlocManagerColumns.
       */
      mimicInnerBlockColumnsIntoBlocManagerColumns () {
        this.$innerColumns().forEach($innerColumn => {
          // On récupère la width de la colonne
          const width = this._convertBSColumnClassToWidth(
            this._extractBSColumnClass($innerColumn)
          )

          // On rajoute notre colonne.
          this.columns.push({
            width,
            id: extractObjectId($innerColumn),
            $el: $innerColumn,
            attrId: $innerColumn.getAttribute('id'),
          })
        })
      },

      /**
       * Crée la table des largeurs des colonnes, sous la forme :
       *
       * columnsWidthTable = [
       *    {col: 1, width: 8.3333333333333332},
       *    ...
       *    {col: 6, width: 50},
       *    ...
       *    {col: 11: 91.6666666666666666},
       * ]
       */
      createColumnsWidthTable () {
        this.columnsWidthTable = Array
          .from(Array(this.maxColumns - 1).keys())
          .reduce((acc, k, _, arr) => {
            const col = k + 1

            acc.push({
              col,
              width: col / this.maxColumns * 100
            })

            return acc
          }, [])
      },

      /**
       * Ajoute l'état "déplaçable" sur les séparateurs de colonnes.
       */
      addColumnsSeparatorDraggableState () {
        // Permettra de calculer la zone de délimitation du séparateur
        let $columnsContainer = null

        this.iterateColumns((column, nextColumn) => {
          // On récupère les différents HTML correspondant aux id des colonnes
          const $column = this.findColumnByInnerId(column.attrId)
          const $innerColumn = this.findInnerColumnById(column.attrId)
          const $nextColumn = this.findColumnByInnerId(nextColumn.attrId)
          const $nextInnerColumn = this.findInnerColumnById(nextColumn.attrId)

          const $separator = this.findColumnsSeparator($column)

          if (!$columnsContainer) {
            $columnsContainer = $column.parentNode
          }

          // On calcule la zone de contenance du séparateur
          const containment = this._computeContainment(
            column,
            nextColumn,
            this._computeMinimumColumnWidth($columnsContainer)
          )

          let originalLeftPosition = null

          // On rend le séparateur draggable
          $($separator).draggable({
            containment,
            axis: 'x',
            start: (e, ui) => {
              originalLeftPosition = null
            },
            drag: (e, ui) => {
              if (originalLeftPosition === ui.position.left) {
                return
              }

              originalLeftPosition = ui.position.left

              this._computeColumnsNewWidth(
                ui,
                column, $column, $innerColumn,
                nextColumn, $nextColumn, $nextInnerColumn
              )
            },
            stop: (e, ui) => {
              originalLeftPosition = null

              column.width = this._convertBSColumnClassToWidth(
                this._extractBSColumnClass($innerColumn)
              )

              nextColumn.width = this._convertBSColumnClassToWidth(
                this._extractBSColumnClass($nextInnerColumn)
              )

              // On reset les styles du séparateur, à cause de jQuery
              $separator.style.left = ''
              $separator.style.right = ''

              // Un rendu est en cours, donc on attend le prochain tick
              this.$nextTick(function () {
                this.removeColumnsSeparatorDraggableState()
                this.addColumnsSeparatorDraggableState()

                const data = this._prepareColumnsStyles([column, nextColumn])

                Http.Objects.saveStyles({data}, (json) => {
                  if (json.error) {
                    return
                  }

                  this.$toasted.success('La largeur des colonnes a bien été sauvegardée !')
                })
              })
            }
          })

          const minColumnPercentageWidth = 1.00001 / this.maxColumns * 100

          if (column.width < minColumnPercentageWidth && nextColumn.width < minColumnPercentageWidth) {
            $($separator).draggable('disable')
          }
        })
      },

      /**
       * Supprime l'état "déplaçable" des séparateurs de colonnes.
       */
      removeColumnsSeparatorDraggableState () {
        this.iterateColumns((column, nextColumn) => {
          const $column = this.findColumnByInnerId(column.attrId)
          const $$separator = $(this.findColumnsSeparator($column))

          if ($$separator.draggable('instance')) {
            $$separator.draggable('destroy')
          }
        })
      },

      /**
       * Itère les colonnes de 0 à n-1, et appelle un callback.
       *
       * @param {function} cb - Fonction à exécuter à chaque itération
       */
      iterateColumns (cb) {
        this.columns.forEach((column, index) => {
          // i à n-1, on ne prend pas en compte la dernière colonne
          if (index === this.columns.length - 1) {
            return
          }

          cb(column, this.columns[index + 1])
        })
      },

      /**
       * Retourne la colonne en fonction de l'id de la colonne 'inner'.
       *
       * @param {string} id - L'identifiant de la colonne
       * @return {HTMLElement}
       */
      findColumnByInnerId (id) {
        return this.$el.querySelector(`[data-inner-column-id=${id}]`)
      },

      /**
       * Retourne la colonne réelle (inner), en fonction de son ID
       *
       * @param {string} attrId - L'identifiant de la colonne
       * @return {HTMLElement}
       */
      findInnerColumnById (attrId) {
        const $innerColumn = Array.prototype.find.call(this.$innerColumns(), $innerColumn => {
          return $innerColumn.getAttribute('id') === attrId
        })

        if (!$innerColumn) {
          throw new Error(`La colonne ${attrId} n'a pas été trouvée`)
        }

        return $innerColumn
      },

      /**
       * Retourne le séparateur de colonnes, en fonction de la colonne.
       *
       * @param {HTMLElement} $column - Colonne où chercher le séparateur
       * @return {HTMLElement}
       */
      findColumnsSeparator ($column) {
        return $column.querySelector('.NinaBlocManagerColumnsSeparator')
      },

      // ----------------------------------------------------------------------
      // Méthodes internes utilisées pour le re-dimensionnement des colonnes
      // ----------------------------------------------------------------------

      /**
       * Extrait et retourne la classe correspondant à une 'colonne'
       * de Bootstrap, d'un élément HTML passé en paramètre.
       *
       * @param {HTMLElement} $el - Element HTML
       * @return {string}
       */
      _extractBSColumnClass ($el) {
        const klass = $el.getAttribute('class')
        const classes = klass.match(/col-md-\d+/)

        return classes[0].trim()
      },

      /**
       * Extrait de la classe colonne de Bootstrap, le numéro
       * correspondant.
       *
       * @param {string} columnClass - Classe 'colonne' de Bootstrap
       * @return {number}
       */
      _extractBSColumnClassNumber (columnClass) {
        const match = columnClass.match(/(\d+)$/)

        return parseInt(match[0], 10)
      },

      /**
       * Fait la conversion entre une classe 'col-md-...' et sa largeur
       * correspondante en %.
       *
       * @param {string} columnClass - Classe 'colonne' de Bootstrap
       * @return {number}
       */
      _convertBSColumnClassToWidth (columnClass) {
        const columnNumber = this._extractBSColumnClassNumber(columnClass)

        return columnNumber * 100 / this.maxColumns
      },

      /**
       * Fait la conversion entre la largeur en %, et le numéro de classe
       */
      _convertWidthToBSColumnClassNumber (width) {
        width = Math.max(width, 1)
        width = Math.min(width, 100)

        const minColumnPercentageWidth = 1 / this.maxColumns * 100
        const possibleWidths = this.columnsWidthTable.filter(c => {
          return Math.abs(width - c.width) <= minColumnPercentageWidth
        })

        if (possibleWidths.length === 1) {
          return possibleWidths[0].col
        }

        const diffA = Math.abs(width - possibleWidths[0].width)
        const diffB = Math.abs(width - possibleWidths[1].width)

        return diffA <= diffB ? possibleWidths[0].col : possibleWidths[1].col
      },

      /**
       * Fait la conversion entre la largeur en %, et une classe 'colonne'
       * de Bootstrap.
       * C'est l'inverse de la fonction juste en haut.
       *
       * @param {number} width - Largeur en pourcentage
       * @return {string}
       */
      _convertWidthToBSColumnClass (width) {
        return `col-md-${this._convertWidthToBSColumnClassNumber(width)}`
      },

      /**
       * Calcule la largeur minimale d'une colonne.
       *
       * @param {HTMLElement} $columnsContainer - Le conteneur de colonnes
       * @return {number}
       */
      _computeMinimumColumnWidth ($columnsContainer) {
        return this._getWidth($columnsContainer) / this.maxColumns // * 1
      },

      /**
       * Retourne une zone servant de délimitation pour le séparateur de
       * colonnes, en utilisant la position et la taille des colonnes
       * passées en paramètre.
       *
       * @param {Object} column
       * @param {Object} nextColumn
       * @param {number} minimumColumnWidth
       */
      _computeContainment (column, nextColumn, minimumColumnWidth) {
        // Support: IE 9
        const columnBounds = column.$el.getBoundingClientRect()
        const nextColumnBounds = nextColumn.$el.getBoundingClientRect()
        const minColumnWidthPercentage = 1.00001 / this.maxColumns * 100

        const leftBound =
          column.width < minColumnWidthPercentage // largeur de colonne trop petite
            ? columnBounds.right - 1
            : minimumColumnWidth + columnBounds.left

        const rightBound =
          nextColumn.width < minColumnWidthPercentage // largeur de colonne trop petite
            ? nextColumnBounds.left - 1
            : -minimumColumnWidth + nextColumnBounds.left + nextColumnBounds.width - 1

        return [
          leftBound, 0,
          rightBound, 0
        ]
      },

      /**
       * Calcule la nouvelle largeur des deux colonnes passées en paramètre,
       * en fonction du séparateur de colonnes.
       *
       * @param {JQuery} ui Wrapper du séparateur des colonnes, renvoyé par on('drag')
       * @param {object} column
       * @param {HTMLElement} $column - Colonne générée par VueJS
       * @param {HTMLElement} $innerColumn - Colonne générée par Twig
       * @param {object} nextColumn
       * @param {HTMLElement} $nextColumn - Colonne suivante générée par VueJS
       * @param {HTMLElement} $nextInnerColumn - Colonne suivante générée par Twig
       */
      _computeColumnsNewWidth (ui,
                               column, $column, $innerColumn,
                               nextColumn, $nextColumn, $nextInnerColumn) {
        const $columnsContainer = $column.parentNode

        // On récupère la largeur des colonnes et de son parent, en px
        const columnsContainerWidthPx = this._getWidth($columnsContainer)

        const columnNewWidthPerc = ui.position.left * 100 / columnsContainerWidthPx
        const nextColumnNewWidthPerc = (column.width + nextColumn.width) - columnNewWidthPerc

        column.width = columnNewWidthPerc
        nextColumn.width = nextColumnNewWidthPerc

        // BS = Bootstrap
        const originalColumnBSClass = this._extractBSColumnClass($innerColumn)
        const newColumnBSClass =
          this._convertWidthToBSColumnClass(columnNewWidthPerc)

        /**
         * On a assez déplacé le séparateur de colonne pour que la classe
         * BS originale soit différente avec la nouvelle
         */
        if (originalColumnBSClass !== newColumnBSClass) {
          const originalNextColumnBSClass = this._extractBSColumnClass($nextInnerColumn)

          const difference =
            this._extractBSColumnClassNumber(originalColumnBSClass)
            - this._extractBSColumnClassNumber(newColumnBSClass)
          const newNextColumnBSClass = 'col-md-'
            + (this._extractBSColumnClassNumber(originalNextColumnBSClass) + difference)

          // Changement des colonnes
          // Support: IE 10
          $innerColumn.classList.add(newColumnBSClass)
          $innerColumn.classList.remove(originalColumnBSClass)

          $nextInnerColumn.classList.add(newNextColumnBSClass)
          $nextInnerColumn.classList.remove(originalNextColumnBSClass)
        }
      },

      /**
       * Retourne la largeur en px d'un élément HTML
       *
       * @param {HTMLElement} $el
       * @return {number}
       */
      _getWidth ($el) {
        return $el.getBoundingClientRect().width
      },

      /**
       * Permet de préparer les styles des colonnes passées en paramètre pour sauvegarder ces styles sur le serveur.
       *
       * @param {Array} [columns]
       * @return {Array}
       */
      _prepareColumnsStyles (columns = this.columns) {
        return columns.reduce((acc, col) => {
          acc.push({
            id: col.id,
            styles: {
              width: col.width + '%'
            }
          })

          return acc
        }, [])
      },

      /**
       * Permet de préparer l'ordre des colonnes pour sauvegarder cet ordre sur le serveur.
       *
       * @return {Array}
       */
      _prepareColumnsOrders () {
        return this._prepareOrders(...Helper.getIdAndNewOrderForObjects(
          $(this.$innerColumns())
        ))
      },

      /**
       *
       */
      _prepareSiblingsOrders () {
        return this._prepareOrders(...Helper.getIdAndNewOrderForObjects(
          $(this.bloc).parent().find('> [id^=Nina_], > .NinaBlocManager > .NinaBlocInner > [id^=Nina_Columns_]')
        ))
      },

      /**
       *
       */
      _prepareOrders (ids, orders) {
        return ids.reduce((acc, id, index) => {
          acc.push({id, order: orders[index]})
          return acc
        }, [])
      },
    },

    /**
     * Génère la table de largeur des colonnes.
     */
    created () {
      this.createColumnsWidthTable()
    },

    mounted () {
      const $$bloc = $(this.bloc)
      const $$el = $(this.$el)

      // Si on n'a pas de BlocManager, alors on l'insert
      if ($$bloc.children('.NinaBlocManager').length === 0) {
        const $$children = $$bloc.children()
        const $$blocInner = $$el.children('.NinaBlocInner')

        $$children.each((i, $$child) => {
          $$blocInner.append($$child)
        })

        $$bloc.append($$el)
      }

      this.mimicInnerBlockColumnsIntoBlocManagerColumns()
    },

    beforeDestroy () {
      // Si l'objet qu'on a supprimé était copié en mémoire, on reset le clipboard
      if (this.componentToCopy && this.componentToCopy.id === Helper.extractObjectId(this.bloc)) {
        this.$store.commit(Mutation.RESET_COMPONENT_TO_COPY)
      }

      $(this.bloc).remove()
      this.$toasted.success('Les colonnes ont bien été supprimées !')
    },

    destroy () {
      Bus.$emit(Events.OBJECTS_ARE_DIRTY)
    }
  }
</script>


<style lang="scss">
  .NinaBlocManager {
    .row {
      display: flex; // Pour que les colonnes soient toutes de la même hauteur, uniquement pdt l'administration
      margin-left: 0;
      margin-right: 0;
    }
  }
</style>
<style scoped lang="scss" rel="stylesheet/scss">
  @import "../styles/variables";

  $borderRadius: 3px;

  $columnSeparatorWidth: $componentManagerBorderWidth;
  $columnSeparatorHelperWidth: 13px;
  $columnFooterHeight: 18px;

  $blocMenuHeight: 30px;
  $blocMenuPadding: 5px;

  /*
   * .NinaBlocManager
   */

  .NinaBlocManager {
    position: relative;
    margin: 0 -15px;
  }

  .NinaBlocManager.visible {
    border: $componentManagerBorderWidth solid $componentManagerColor;
  }

  .NinaBlocManager:not(.visible) {

    &:not(:hover) .NinaHandle {
      display: none;
    }
  }

  .NinaHandle {
    font-size: 20px;
  }

  /*
   * .NinaBlocManagerMenu
   */

  .NinaBlocManagerMenu {
    display: flex;
    justify-content: space-between;

    position: absolute;
    left: -1px;
    right: -1px;
    z-index: 10;

    box-sizing: content-box;
    padding: $blocMenuPadding;
    //margin-top: $columnFooterHeight;
    //height: $blocMenuHeight;

    border: 1px solid $componentManagerColor;
    background-color: $componentManagerSecondColor;

    &.NinaBlocManagerMenuTop {
      bottom: 100%;
      border-top-left-radius: $borderRadius;
      border-top-right-radius: $borderRadius;
    }

    &.NinaBlocManagerMenuBottom {
      top: 100%;
      border-bottom-left-radius: $borderRadius;
      border-bottom-right-radius: $borderRadius;
    }
  }

  /*
   * .NinaBlocManagerContainer
   */

  .NinaBlocManagerContainer {
    position: absolute;
    z-index: 50;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url('../img/BlocManagerBackground.png');
  }

  /*
   * .NinaBlocManagerColumn(s)
   */

  .NinaBlocManagerColumns {
    display: table;
    width: 100%;
    height: 100%;
  }

  .NinaBlocManagerColumn {
    display: table-cell;
    position: relative;
  }

  /*
   * .NinaBlocManagerColumnFooter
   */

  .NinaBlocManagerColumnFooter {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    //height: $columnFooterHeight;
    padding: 0;

    border-top: $componentManagerBorderWidth solid $componentManagerColor;
    border-bottom: $componentManagerBorderWidth solid $componentManagerColor;

    background-color: $componentManagerSecondColor;
    text-align: center;

    white-space: nowrap;
    font-size: 12px;
  }

  .NinaBlocManagerColumn:first-child .NinaBlocManagerColumnFooter {
    left: 0;
  }

  .NinaBlocManagerColumn:last-child .NinaBlocManagerColumnFooter {
    right: 0;
  }

  /*
   * .NinaBlocManagerColumnFooterButtons
   */

  .NinaBlocManagerColumnFooterButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $blocMenuPadding;
    border-bottom: $componentManagerBorderWidth solid $componentManagerColor;
  }

  .NinaBlocManagerColumn:not(:hover) .NinaBlocManagerColumnFooterButtons {
    display: none;
  }

  /*
   * .NinaBlocManagerColumnsSeparator(Helper)
   */

  .NinaBlocManagerColumnsSeparator {
    position: absolute;
    z-index: 1010;
    top: 0;
    bottom: -$componentManagerBorderWidth;
    right: -$columnSeparatorWidth / 2;
    width: $columnSeparatorWidth;

    cursor: ew-resize;
    background-color: $componentManagerColor;

    &.ui-draggable-disabled {
      opacity: .65;
      cursor: not-allowed;
    }
  }

  .NinaBlocManagerColumnsSeparatorHelper {
    position: absolute;
    top: 30%;
    left: - $columnSeparatorHelperWidth / 2;
    right: - $columnSeparatorHelperWidth / 2;
    bottom: 30%;

    border: $columnSeparatorWidth solid $componentManagerColor;
    border-radius: $columnSeparatorHelperWidth;
    background-color: $componentManagerSecondColor;
  }
</style>
