<template></template>
<script>
  import { mapGetters } from 'vuex'
  import store from '../store'

  /**
   * @vue
   */
  export default {
    data () {
      return {}
    },
    computed: {
      cursor () {
        return store.getters.cursor
      }
    },
    watch: {
      cursor () {
        this.update()
      }
    },
    methods: {
      update () {
        document.body.classList.forEach(klass => {
          if (/^cursor-/.test(klass)) {
            document.body.classList.remove(klass)
          }
        })
        document.body.classList.add('cursor-' + this.cursor)
      }
    },
    mounted () {
      this.update()
    }
  }
</script>

<style lang="scss" rel="stylesheet/scss">
  body {
    &.cursor-wait * {
      cursor: wait !important;
    }

    &.cursor-progress * {
      cursor: progress !important;
    }
  }
</style>
