<template>
  <div id="library" :class="{visible: visible}">
    <button
        @click.prevent="visible = !visible"
        id="toggle-visibility"
        class="btn btn-default btn-lg">NinaCMS
    </button>

    <div id="library-content">
      <ul>
        <li><a href="#library-components-tab">Composants</a></li>
        <li><a href="#library-medias-tab">Mediathèques</a></li>
        <li><a href="#library-cms-tools-tab">Outils</a></li>
      </ul>

      <div id="library-components-tab">
        <library-components-explorer></library-components-explorer>
      </div>
      <div id="library-medias-tab">
        <ul>
          <li v-for="mediatheque in mediatheques" :data-nina-mediatheque="mediatheque.name">
            <a :href="'#library-medias-' + mediatheque.name + '-tab'">{{mediatheque.label}}</a>
          </li>
        </ul>

        <!--
          Il n'y aura qu'un seul <medias-explorer>, la prop ":mediatheque" va changer automatiquement
          avec le changement d'onglet
         -->
        <div v-for="mediatheque in mediatheques" :id="'library-medias-' + mediatheque.name + '-tab'"></div>

        <library-medias-explorer v-if="mediatheque" :mediatheque="mediatheque"></library-medias-explorer>
      </div>
      <div id="library-cms-tools-tab">
        <library-cms-tools></library-cms-tools>
      </div>
    </div>

  </div>
</template>

<script>
  import Http from './../NinaHttp'
  import * as Mutation from '../store/mutation-types'
  import { mapGetters } from 'vuex'

  import Bus from './../bus'
  import Events from './../events'

  /**
   * @vue
   */
  export default {
    data () {
      return {
        visible: false,
      }
    },
    computed: {
      ...mapGetters(['library', 'mediatheques', 'mediatheque']),
    },
    mounted () {
      const that = this
      const $$el = $(that.$el)
      const $$mediathequesTabs = $$el.find('#library-medias-tab')

      Http.Library.getId(json => {
        if (json.error) {
          return
        }

        this.$store.commit(Mutation.LIBRARY_ID, json['library_id'])

        Http.Mediatheque.getAvailables(json => {
          if (json.error) {
            return
          }

          json['mediatheques'].forEach(mediatheque => {
            this.$store.commit(Mutation.MEDIATHEQUE_INIT, mediatheque)
          })

          this.$store.commit(Mutation.MEDIATHEQUE_SET_CURRENT, json['mediatheques'][0]['name'])

          $$el.find('#library-content').tabs()

          this.$nextTick(function () {
            $$mediathequesTabs.tabs({
              activate (e, ui) {
                that.$store.commit(Mutation.MEDIATHEQUE_SET_CURRENT, ui.newTab.attr('data-nina-mediatheque'))
              }
            })
          })

          Bus.$on(Events.HIDE_LIBRARY, () => {
            this.visible = false
          })

          Bus.$on(Events.SHOW_LIBRARY_THEN_COMPONENTS_EXPLORER, () => {
            this.visible = true
            $$el.find('#library-content').tabs('option', 'active', 0) // 1 = onglet composants
          })

          Bus.$on(Events.SHOW_LIBRARY_THEN_NINA_MEDIATHEQUE, () => {
            this.visible = true
            $$el.find('#library-content').tabs('option', 'active', 1) // 1 = onglet médiathèque
            $$mediathequesTabs.tabs('option', 'active', 0) // 0 = onglet Nina
          })
        })
      })
    }
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  #library {
    position: fixed;
    z-index: 80;
    top: 48px;
    left: 100%;

    max-width: 650px;
    width: 80%;

    transform: translateX(0%);
    transition: all .2s ease-in-out;

    &.visible {
      transform: translateX(-100%);
      box-shadow: 0 0 10px rgba(#000, .18);
    }
  }

  #library-content {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  #toggle-visibility {
    position: absolute;
    transform: rotate(-90deg);
    transform-origin: right bottom;
    right: 100%;
    bottom: 100%;
    outline: none;

    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom: none !important;
  }

  .ui-tabs .ui-tabs-panel {
    padding: 0.5em;
  }
</style>
