<template>
  <div class="Nina_Modal" :title="title" v-html="body"></div>
</template>

<script>

  /**
   * @vue
   */
  export default {
    data () {
      return {
        zIndex: 100,
        title: 'Edition de composant',
        // Le contenu HTML à insérer dans la Modale
        body: null,
        // Configuration des boutons
        buttons: {},
        // Object dialog, après l'appel de $().dialog()
        dialog: null,
        // Fonction exécutée après le mount() de la Modale
        afterMount: {type: Function, default: null}
      }
    },
    methods: {
      /**
       * Méthode proxy pour ouvrir la dialog.
       */
      open () {
        this.dialog.dialog('open')
        this.dialog.parent().css('z-index', this.zIndex)
        $('.ui-widget-overlay.ui-front').css('z-index', this.zIndex - 1)
      },

      /**
       * Méthode proxy pour fermer la dialog.
       */
      close () {
        this.dialog.dialog('close')
      },

      resizeDialog () {
        this.dialog.dialog('option', 'maxHeight', $(window).height())
        this.dialog.dialog('option', 'maxWidth', $(window).width())
      }
    },
    mounted () {
      // Création de la dialog
      this.dialog = $(this.$el).dialog({
        // Options non modifiables
        modal: true,
        autoOpen: false,
        resizable: false,
        draggable: false,
        width: 1024,
        maxWidth: $(window).width,
        maxHeight: $(window).height(),
        position: {
          my: 'center top',
          at: 'center top',
          of: window,
        },
        show: {duration: 200},
        hide: {duration: 200},
        close: (e, ui) => {
          if (this.onClose) {
            this.onClose()
          }

          this.dialog.dialog('destroy')
        },
        create: function (event) {
          $(event.target).parent().css('position', 'fixed')
        },
        resizeStart: function (event) {
          $(event.target).parent().css('position', 'fixed')
        },
        resizeStop: function (event) {
          $(event.target).parent().css('position', 'fixed')
        },
        // Options modifiables
        buttons: this.buttons
      })

      // On exécute afterMount()
      if (this.afterMount) {
        this.afterMount()
      }

      // Puis seulement après on ouvre la dialog.
      this.open()

      $(window).on('resize', this.resizeDialog)
    },
    destroyed () {
      $(window).off('resize', this.resizeDialog)
    }
  }
</script>

<style>
  #Nina_Modal {
    padding: 0;
  }
</style>
