<template>
  <div class="NinaObjectManager"
       @mouseover.stop="show"
       @mouseout="hide"
       :class="{visible}">

    <div class="NinaObjectManagerMenu NinaObjectManagerTopMenu">
      <div>
        <button
            title="Maintenir pour déplacer"
            class="NinaObjectHandle btn btn-default btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-arrows"></i>
        </button>
      </div>
      <div class="nina-btn-group">
        <button
            @click="onUpdate"
            title="Modifier"
            class="NinaObjectUpdate btn btn-default btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-pencil"></i>
        </button>
        <button
            @click="onCopy"
            title="Copier"
            class="NinaObjectCopy btn btn-default btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-files-o"></i>
        </button>
        <button
            @click="onDelete"
            title="Supprimer"
            class="NinaObjectDelete btn btn-danger btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="nina-btn-group">
        <button
            @click="onAddBefore"
            title="Ajouter avant"
            class="NinaObjectAddAfter btn btn-default btn-xs"
            :disabled="httpOperationIsPending || !canAdd()">
          <i class="fa fa-plus"></i>
        </button>
        <button
            @click="onPasteBefore"
            title="Coller avant"
            class="NinaObjectPasteAfter btn btn-default btn-xs"
            :disabled="httpOperationIsPending || !canPaste()">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
    <div class="NinaObjectContent"></div>
    <div class="NinaObjectManagerMenu NinaObjectManagerBottomMenu">
      <div>
        <button
            title="Maintenir pour déplacer"
            class="NinaObjectHandle btn btn-default btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-arrows"></i>
        </button>
      </div>
      <div class="nina-btn-group">
        <button
            @click="onUpdate"
            title="Modifier"
            class="NinaObjectUpdate btn btn-default btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-pencil"></i>
        </button>
        <button
            @click="onCopy"
            title="Copier"
            class="NinaObjectCopy btn btn-default btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-files-o"></i>
        </button>
        <button
            @click="onDelete"
            title="Supprimer"
            class="NinaObjectDelete btn btn-danger btn-xs"
            :disabled="httpOperationIsPending">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="nina-btn-group">
        <button
            @click="onAddAfter"
            title="Ajouter après"
            class="NinaObjectAddAfter btn btn-default btn-xs"
            :disabled="httpOperationIsPending || !canAdd()">
          <i class="fa fa-plus"></i>
        </button>
        <button
            @click="onPasteAfter"
            title="Coller après"
            class="NinaObjectPasteAfter btn btn-default btn-xs"
            :disabled="httpOperationIsPending || !canPaste()">
          <i class="fa fa-clipboard"></i>
        </button>
      </div>
    </div>
  </div>
  <!--</div>-->
</template>

<script>
  import Vue from 'vue'

  import Bus from '../bus'
  import Events from '../events'

  import Http from './../NinaHttp'
  import ManagerOnUpdate from './ManagerOnUpdate'
  import * as Helper from './../Helpers'
  import * as Mutation from '../store/mutation-types'

  import { mapGetters } from 'vuex'

  /**
   * @vue
   */
  export default {
    data () {
      return {
        // Affiche ou non l'ObjectManager
        visible: false,
        // Est-ce que l'ObjectManager est survolé
        hovered: false,
        // L'object sur lequel l'ObjectManager est greffé
        object: null,
        objectClassName: '',
        objectId: ''
      }
    },
    computed: {
      ...mapGetters([
        'componentToCopy',
        'componentsMetadata',
        'httpOperationIsPending',
        'userIsDraggingAComponent',
      ]),
      $objectContent () {
        return this.$el.querySelector('.NinaObjectContent')
      },
    },
    methods: {
      show () {
        if (this.userIsDraggingAComponent) {
          return
        }

        this.visible = true
      },
      hide () {
        this.visible = false
      },
      /**
       * Fonction déclenchée lorsque l'utilisateur clique
       * sur le bouton « .NinaObjectAddBefore ».
       */
      onAddBefore () {
        this._onAdd(true)
      },

      /**
       * Fonction déclenchée lorsque l'utilisateur clique
       * sur le bouton « .NinaObjectAddAfter ».
       */
      onAddAfter () {
        this._onAdd(false)
      },

      /**
       * Vérifie si on peut ajouter un composant avant ou après ce composant.
       */
      canAdd () {
        return !this.$store.getters.waitingUserToInsertAComponent
      },

      /**
       * Fonction déclenchée lorsque l'utilisateur clique
       * sur le bouton « .NinaObjectPasteBefore ».
       */
      onPasteBefore () {
        this._onPaste(true)
      },

      /**
       * Fonction déclenchée lorsque l'utilisateur clique
       * sur le bouton « .NinaObjectPasteAfter ».
       */
      onPasteAfter () {
        this._onPaste(false)
      },

      /**
       * Vérifie si on peut coller le composant en mémoire avant ou après ce composant.
       */
      canPaste () {
        const componentToCopy = this.componentToCopy

        if (componentToCopy === null) {
          return false
        }

        // On vérifie si le parent de ce composant peut contenir le composant qu'on souhaite coller
        const $$parent = $(this.object).parent().closest('[id^="Nina_"]')

        // Vue est en train de faire un rendu, on attend.
        if ($$parent.length === 0) {
          return false
        }

        const parentClass = Helper.extractObjectClass($$parent)
        const componentsMetadata = this.$store.getters.componentsMetadata

        return componentsMetadata[parentClass].contains.includes(componentToCopy['class'])
      },

      /**
       * Fonction déclenchée lorsque l'utilisateur clique sur le bouton « .NinaObjectUpdate ».
       */
      onUpdate () {
        console.log(this, this.object)
        new ManagerOnUpdate(this, this.object)
      },

      /**
       * Fonction déclenchée lorsque l'utilisateur clique
       * sur le bouton « .NinaObjectCopy ».
       */
      onCopy () {
        const id = Helper.extractObjectId(this.object)
        const klass = Helper.extractObjectClass(this.object)

        this.$store.commit(Mutation.COPY_COMPONENT, {
          id,
          'class': klass
        })
        this.$toasted.info('Le composant a bien été copié en mémoire.')
      },

      /**
       * Fonction déclenchée lorsque l'utilisateur clique
       * sur le bouton « .NinaObjectDelete ».
       */
      onDelete () {
        if (!window.confirm('Êtes-vous sûr de vouloir supprimer le composant ?')) {
          return
        }

        const objectManager = this
        const id = Helper.extractObjectId(objectManager.object)

        // On envoie la requête de suppression
        Http.Objects.delete(id, json => {
          if (json.error) {
            return
          }

          this._updateParentChildrenOrders(json => {
            if (json.error) {
              return
            }

            this.$destroy()
          }, true)
        })
      },

      /**
       * @param {Boolean} before
       * @private
       */
      _onAdd (before) {
        const $$component = $(this.object)
        const $$parent = $$component.parents('[id^="Nina_"]:first')
        const parentClass = Helper.extractObjectClass($$parent)
        const parentId = Helper.extractObjectId($$parent)
        const parentCanContains = this.componentsMetadata[parentClass].contains

        const filter = (components) => {
          return components.filter(component => parentCanContains.includes(component.class))
        }

        this.$store.commit(Mutation.COMPONENTS_EXPLORER_REMOVE_FILTERS, filter)
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_PUSH_FILTER, filter)
        this.$store.commit(Mutation.WAITING_USER_TO_INSERT_A_COMPONENT)
        Bus.$emit(Events.SHOW_LIBRARY_THEN_COMPONENTS_EXPLORER)
        Bus.$emit(Events.PREPARE_COMPONENT_INSERTION_BY_CLICK)

        const $$placeholder = $('<div class="NinaPlaceholder">Le composant sélectionné sera inséré ici</div>')
        $$component[before ? 'before' : 'after']($$placeholder)

        const insertComponentCallback = (json) => {
          $$placeholder.replaceWith(json.html)
        }

        const successFulCallback = () => {
          this.$toasted.success('Le composant a bien été inséré')
          this.$store.commit(Mutation.USER_HAS_INSERTED_A_COMPONENT)
          Bus.$emit(Events.OBJECTS_ARE_DIRTY)
          Bus.$emit(Events.HIDE_LIBRARY)
        }

        const failingCallback = () => {
          this.$toasted.error('Une erreur s\'est produite lors de l\'insertion du composant.')
          cancelingCallback()
        }

        const cancelingCallback = () => {
          this.$store.commit(Mutation.USER_HAS_NOT_INSERTED_A_COMPONENT)
          Bus.$emit(Events.HIDE_LIBRARY)
          $$placeholder.remove()
        }

        Bus.$once(Events.COMPONENT_HAS_BEEN_SELECTED_FOR_INSERTION, (component) => {
          $$placeholder.text('Insertion du composant en cours...')

          const data = {
            id: component.id,
            parent_id: parentId,
            order: 0
          }

          Http.Objects.duplicate(data, (json) => {
            if (json.err) {
              return failingCallback()
            }

            insertComponentCallback(json)

            this.$nextTick(function () {
              this._updateParentChildrenOrders(() => {
                if (json.error) {
                  return failingCallback()
                }

                successFulCallback()
              })
            })
          })
        })

        Bus.$once(Events.COMPONENT_INSERTION_HAS_BEEN_CANCELED, cancelingCallback)
      },

      /**
       * @param {Boolean} before
       * @private
       */
      _onPaste (before) {
        const data = {
          id: this.componentToCopy.id,
          parent_id: Helper.extractObjectId($(this.object).parents('[id^="Nina_"]:first'))
        }

        const callback = json => {
          if (json.error) {
            return
          }

          if (before) {
            $(this.object).before(json['html'])
          } else {
            $(this.object).after(json['html'])
          }

          this._updateParentChildrenOrders(json => {
            if (json.error) {
              return
            }

            this.$nextTick(function () {
              this.$toasted.success('Le composant a bien été collé !')
              Bus.$emit(Events.OBJECTS_ARE_DIRTY)
            })
          })
        }

        if (before) {
          Http.Objects.pasteBefore(data, callback)
        } else {
          Http.Objects.pasteAfter(data, callback)
        }
      },

      /**
       * @param {Function} callback
       * @param {Boolean} [beforeDelete=false] - Si true, alors ce composant ne sera pas compté dans les composants à ré-ordonner
       * @private
       */
      _updateParentChildrenOrders (callback, beforeDelete = false) {
        const $$objects = $(this.object.parentNode).find(
          '> [id^=Nina_], > .NinaBlocManager > .NinaBlocInner > [id^=Nina_Columns_]'
        )
        const ids = Helper.extractObjectsId($$objects)
        let order = 0
        const data = ids.reduce((acc, id) => {
          if (beforeDelete && id === Helper.extractObjectId(this.object)) {
            return acc
          }

          acc.push({id, order})
          order += 1

          return acc
        }, [])

        if (data.length > 0) {
          Http.Objects.changeOrders({data}, callback)
        } else {
          callback({})
        }
      }
    },
    mounted () {
      this.objectClassName = Helper.extractObjectClass(this.object)
      this.objectId = this.object.getAttribute('id')

      /**
       * Pour chaque enfants de notre object qui ne sont pas
       * un .NinaObjectManager (permet d'éviter la duplication),
       * on va les déplacer dans l'$objectContent.
       */
      const $$children = $(this.object).children().filter(':not(.NinaObjectManager)')
      const shouldInjectObjectManager = $$children.length > 0

      if (shouldInjectObjectManager) {
        $$children.each((_, child) => {
          this.$objectContent.appendChild(child)
        })

        this.object.appendChild(this.$el)
      }
    },
    beforeDestroy () {
      // Si l'objet qu'on a supprimé était copié en mémoire, on reset le clipboard
      if (this.componentToCopy && this.componentToCopy.id === Helper.extractObjectId(this.object)) {
        this.$store.commit(Mutation.RESET_COMPONENT_TO_COPY)
      }

      $(this.object).remove()

      this.$nextTick(function () {
        this.$toasted.success('Le composant a bien été supprimé !')
        Bus.$emit(Events.OBJECTS_ARE_DIRTY)
      })
    },
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  @import "../styles/variables";

  .NinaObjectManager {
    position: relative;

    &.visible {
      border: $componentManagerBorderWidth solid $componentManagerColor;
    }

    &:not(.visible) {
      > .NinaObjectManagerMenu {
        max-height: 0;
        padding: 0;
        border: 0;

        transition: max-height .2s linear, padding .05s linear;
      }
    }
  }

  .NinaObjectManagerMenu {
    position: absolute;
    z-index: 10;
    left: -$componentManagerBorderWidth;
    right: -$componentManagerBorderWidth;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    box-sizing: content-box;
    padding: 3px;

    border: $componentManagerBorderWidth solid $componentManagerColor;
    background-color: $componentManagerSecondColor;

    transition: max-height 1s linear, padding .1s linear;
    overflow: hidden;
    max-height: 100px;

    > [disabled] {
      pointer-events: auto;
    }
  }

  .NinaObjectManagerTopMenu {
    border-bottom-width: $componentManagerBorderWidth;
    bottom: 100%;
    border-radius: 3px 3px 0 0;
  }

  .NinaObjectManagerBottomMenu {
    border-top-width: $componentManagerBorderWidth;
    top: 100%;
    border-radius: 0 0 3px 3px;
  }

  .NinaObjectId {
    font-size: 13px;
  }

</style>

