<template>
  <div>
    <button
        @click.stop="toggleGridVisibility"
        :class="{active: gridsAreVisible}"
        class="btn btn-default">
      Grilles visibles : <b>{{ gridsAreVisible ? 'OUI' : 'NON' }}</b>
    </button>
  </div>
</template>

<script>
  import * as Mutation from '../../store/mutation-types'
  import { mapGetters } from 'vuex'

  /**
   * @vue
   */
  export default {
    computed: {
      ...mapGetters(['gridsAreVisible']),
    },
    methods: {
      toggleGridVisibility () {
        if (this.gridsAreVisible) {
          this.$store.commit(Mutation.HIDE_GRIDS)
        } else {
          this.$store.commit(Mutation.SHOW_GRIDS)
        }
      }
    },
  }
</script>
