<template>
  <div>
    <template v-if="filteredComponents">

      <div v-if="library.componentsFilters.length > 0" class="alert alert-thin alert-info">
        Sélectionnez (via un clic) un composant à insérer.
        <button @click.prevent="cancelClickableState" class="btn btn-primary btn-sm">Annuler</button>
      </div>

      <components-navigation ref="navigation"></components-navigation>

      <div class="groupsList">
        <template v-for="group in filteredGroups">
          <button @click.prevent="goToGroup(group)"
                  class="btn btn-default btn-sm">
            {{group.name}}
          </button>&nbsp;
        </template>
      </div>

      <div class="componentsList">
        <div v-if="filteredComponents.length === 0" class="alert alert-thin alert-warning">
          Ce groupe de composant est vide.
        </div>
        <div v-for="component in filteredComponents"
             class="draggable-component drag-from-library"
             :class="{__clickable: componentsAreReadyToBeInsertedInPageByClicking}"
             @click.prevent="insertComponentInPage(component)"
             :title="component.label + ' (' + component.class + ')'"
             :data-nina-component-class="component.class"
             :data-nina-component-id="component.id">
          <img v-if="component.metadata.icon" :src="buildImagePath(component)">
          <span v-else>{{component.label}}</span>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
  import Http from './../../NinaHttp'
  import * as Mutation from '../../store/mutation-types'
  import { mapGetters } from 'vuex'

  import Bus from './../../bus'
  import Events from './../../events'

  import Navigation from './ComponentsExplorer/Navigation.vue'

  /**
   * @vue
   */
  export default {
    components: {
      'components-navigation': Navigation
    },
    data () {
      return {
        componentsAreReadyToBeInsertedInPageByClicking: false,
      }
    },
    computed: {
      ...mapGetters(['library', 'componentsMetadata']),
      ...mapGetters({
        groups: 'componentsGroupsTree',
        currentGroup: 'currentComponentGroup',
      }),
      filteredGroups () {
        if (this.currentGroup === null) {
          return this.groups
        }

        return this.currentGroup.children
      },
      components () {
        return this.library.components.filter(c => c.metadata.group === this.currentGroup.id)
      },
      filteredComponents () {
        let components = this.components

        this.library.componentsFilters.forEach(filter => {
          components = filter(components)
        })

        return components
      }
    },
    watch: {
      'library.id' (libraryId) {
        if (libraryId !== null) {
          this.fetchComponents()
        }
      },
      filteredComponents () {
        this.$nextTick(function () {
          this.makesComponentsDraggable()
        })
      }
    },
    methods: {
      fetchComponents () {
        Http.Library.getComponents(json => {
          if (json.error) {
            return
          }

          this.$store.commit(Mutation.LIBRARY_COMPONENTS, json['json'])
        })
      },
      makesComponentsDraggable () {
        const that = this;
        const components = this.filteredComponents
        const componentsClasses = components.map(c => c.class).unique()

        componentsClasses.forEach(componentClass => {
          const $$components = $(`.draggable-component[data-nina-component-class=${componentClass}]`, this.$el)

          $$components.draggable({
            connectToSortable: `*[id^="Nina_"]`,
            opacity: 0.35,
            helper: 'clone',
            start (e, ui) {
              ui.helper.addClass('grabbed')
              that.$store.commit(Mutation.USER_HAS_STARTED_TO_DRAG_COMPONENT)
              Bus.$emit(Events.HIDE_LIBRARY)
            },
            stop (e, ui) {
              ui.helper.removeClass('grabbed')
              that.$store.commit(Mutation.USER_HAS_STOPPED_TO_DRAG_COMPONENT)
              Bus.$emit(Events.SHOW_LIBRARY_THEN_COMPONENTS_EXPLORER)
            }
          })
        })
      },
      makesComponentsNonDraggable () {
        $('.draggable-component', this.$el).draggable('destroy')
      },
      goToGroup (group) {
        this.$refs.navigation.prevIds.push(this.currentGroup.id)
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_SET_CURRENT_GROUP, group)
      },
      cancelClickableState () {
        this.componentsAreReadyToBeInsertedInPageByClicking = false
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_REMOVE_FILTERS)
        Bus.$off(Events.COMPONENT_HAS_BEEN_SELECTED_FOR_INSERTION)
        Bus.$emit(Events.COMPONENT_INSERTION_HAS_BEEN_CANCELED)
      },
      insertComponentInPage (component) {
        if (!this.componentsAreReadyToBeInsertedInPageByClicking) {
          return
        }

        this.componentsAreReadyToBeInsertedInPageByClicking = false
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_REMOVE_FILTERS)
        Bus.$emit(Events.COMPONENT_HAS_BEEN_SELECTED_FOR_INSERTION, component)
      },
      buildImagePath (component) {
        return [
          this.$store.getters.options.assets_url,
          'components',
          component.class,
          'admin/images',
          component.metadata.icon
        ].join('/')
      },

    },
    mounted () {
      Bus.$on(Events.PREPARE_COMPONENT_INSERTION_BY_CLICK, () => {
        // On attend 2 ticks ici, car le watcher sur les filteredComponents attend 1 tick
        this.$nextTick(function () {
          this.$nextTick(function () {
            this.makesComponentsNonDraggable()
            this.componentsAreReadyToBeInsertedInPageByClicking = true
          })
        })
      })
    }
  }
</script>

<style scoped lang="scss">
  .groupsList,
  .componentsList {
    margin: .5em 0;

    .alert {
      margin: 0 !important;
    }
  }

  .draggable-component {
    display: inline-block;
    padding: 2px;
    margin: 4px;

    box-shadow: 0 1px 3px rgba(#000, .18);

    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;

    transition: box-shadow .1s linear;

    img {
      height: 64px;
      width: 64px;
    }

    &.grabbed {
      cursor: grabbing;
      cursor: -moz-grabbing;
      cursor: -webkit-grabbing;
      box-shadow: 0 0 20px rgba(#000, .30);
    }

    &.__clickable {
      cursor: pointer;
    }
  }
</style>
