<template>
  <div :id="'mediatheque-' + mediatheque.name">
    <transition name="fade">
      <div v-if="mediasSelection !== null" class="alert alert-thin alert-info">
        <template v-if="!mediasSelection.infinite">
          Vous pouvez sélectionner au maximum <b>{{mediasSelection.max}}</b> média{{ mediasSelection.max !== 1
          ? 's'
          : '' }}
        </template>
        <template v-else>
          Vous pouvez sélectionner des médias
        </template>
        à lier au champ en cours d'édition, en cliquant sur le bouton de sélection (<input type="checkbox">).

        <template v-if="mediatheque.explorer.filters.length > 0">
          <hr style="margin: 8px 0;">
          Certains médias ont été filtrés afin de correspondre aux critères de sélection de médias.

        </template>
      </div>
    </transition>

    <medias-explorer-navigation :mediatheque="mediatheque"></medias-explorer-navigation>
    <medias-explorer-view :mediatheque="mediatheque"></medias-explorer-view>
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import constantCase from 'constant-case'

  import Http from './../../NinaHttp'

  import Events from '../../events'
  import Bus from '../../bus'

  import Navigation from './MediasExplorer/Navigation.vue'
  import View from './MediasExplorer/View.vue'

  import * as Mutation from './../../store/mutation-types'

  /**
   * @vue
   */
  export default {
    components: {
      'medias-explorer-navigation': Navigation,
      'medias-explorer-view': View,
    },
    props: {
      mediatheque: {type: Object, required: true}
    },
    computed: {
      ...mapGetters(['library']),
      clipboard () {
        return this.mediatheque.clipboard
      },
      mediasSelection () {
        return this.mediatheque.explorer.medias_selection
      },
      selectedMedias () {
        return this.mediasSelection.medias || []
      },
    },
    watch: {
      'library.id' (libraryId) {
        if (libraryId !== null) {
          this.readMediasContainer()
        }
      },
      'mediatheque.explorer.current_id': function () {
        this.readMediasContainer()
      },
      'mediatheque.explorer.filters': function () {
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_FILTER_MEDIAS)
      },
      'mediatheque.explorer.files': {
        deep: true,
        handler: function () {
          this.$nextTick(function () {
            this.bindContextualMenus()
          })
        }
      },
    },
    methods: {

      /**
       * Génère les menus contextuel pour la view, les médias, et les médias containers.
       */
      bindContextualMenus () {
        $.contextMenu('destroy')
        this._bindContextualMenuForMediasContainers()
        this._bindContextualMenuForMedias()
        this._bindContextualMenuForView()
      },

      /**
       * Récupère le contenu du medias_container correspondant au "mediatheque.explorer.current_id".
       */
      readMediasContainer () {
        const data = {
          id: this.mediatheque.explorer.current_id,
          library_id: this.library.id,
        }

        // Récupération des medias et medias_containers
        Http.Mediatheque.readMediasContainer(this.mediatheque.name, data, (json) => {
          if (json.error) {
            return
          }

          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_SET_FILES, json)
          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_FILTER_MEDIAS)
          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_SET_CURRENT_MEDIAS_CONTAINER, json['current_medias_container'])
        })
      },

      /**
       * Crée un medias container.
       * @param {String} name
       */
      createMediasContainer (name) {
        const data = {
          name,
          parent_id: this.mediatheque.explorer.current_id,
          library_id: this.library.id,
        }

        Http.Mediatheque.createMediasContainer(this.mediatheque.name, data, (json) => {
          if (json.error) {
            Bus.$emit(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_IS_NOT_CREATED)
            return
          }

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
          Bus.$emit(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_IS_CREATED)
        })
      },

      /**
       * Renomme un medias container.
       * @param {Object} mediasContainer
       * @param {String} newName
       */
      renameMediasContainer (mediasContainer, newName) {
        const data = {
          newName,
          id: mediasContainer.id,
        }

        Http.Mediatheque.renameMediasContainer(this.mediatheque.name, data, (json) => {
          if (json.error) {
            Bus.$emit(Events.Mediatheque.Dialogs.RENAME_MEDIAS_CONTAINER_IS_NOT_RENAMED)
            return
          }

          if (json['medias_container']) {
            mediasContainer.label = json['medias_container']['label']
            mediasContainer.data.path = json['medias_container']['data']['path']
          }

          Bus.$emit(Events.Mediatheque.Dialogs.RENAME_MEDIAS_CONTAINER_IS_RENAMED)
        })
      },

      /**
       * Copie un medias container dans le presse-papiers.
       * @param {Object} medias_container
       */
      copyMediasContainerInClipboard (medias_container) {
        this._fillClipboard('copy', 'MediasContainer', medias_container)
      },

      /**
       * Copie un medias container.
       */
      copyMediasContainer () {
        const data = {
          id: this.clipboard.file.id,
          destination_id: this.mediatheque.explorer.current_id
        }

        Http.Mediatheque.copyMediasContainer(this.mediatheque.name, data, (json) => {
          if (json.error) {
            this._resetClipboard()
            return
          }

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
        })
      },

      /**
       * Coupe un medias container dans le presse-papiers.
       * @param {Object} medias_container
       */
      cutMediasContainerInClipboard (medias_container) {
        this._fillClipboard('cut', 'MediasContainer', medias_container)
      },

      /**
       * Déplace un medias container.
       */
      moveMediasContainer () {
        const data = {
          id: this.clipboard.file.id,
          destination_id: this.mediatheque.explorer.current_id
        }

        Http.Mediatheque.moveMediasContainer(this.mediatheque.name, data, (json) => {
          this._resetClipboard()

          if (json.error) {
            return
          }

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
        })
      },

      /**
       * Supprime un medias container.
       * @param {Object} medias_container
       */
      deleteMediasContainer (medias_container) {
        const confirm = global.confirm(
          'Êtes-vous sûr de vouloir supprimer ce dossier ?\n' +
          'Tous les médias contenus dans ce dossier seront supprimés ainsi que leur lien avec les composants.\n' +
          '\n' +
          'Cette action est irréversible !')

        if (!confirm) {
          return
        }

        const data = {
          id: medias_container.id,
          library_id: this.library.id,
        }

        Http.Mediatheque.deleteMediasContainer(this.mediatheque.name, data, (json) => {
          if (json.error) {
            return
          }

          json['deleted_medias_ids'].forEach(deletedMediaId => {
            if ('id' in this.clipboard.file && this.clipboard.file.id === deletedMediaId) {
              this._resetClipboard()
            }
          })

          json['deleted_medias_containers_ids'].forEach(deletedMediasContainerId => {
            if ('id' in this.clipboard.file && this.clipboard.file.id === deletedMediasContainerId) {
              this._resetClipboard()
            }
          })

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
        })
      },

      /**
       * Renomme un media container.
       * @param {Object} media
       * @param {String} newName
       */
      renameMedia (media, newName) {
        const data = {
          newName,
          id: media.id,
        }

        Http.Mediatheque.renameMedia(this.mediatheque.name, data, (json) => {
          if (json.error) {
            Bus.$emit(Events.Mediatheque.Dialogs.RENAME_MEDIA_IS_NOT_RENAMED)
          }

          if (json['media']) {
            media.label = json['media']['label']
            media.data.path = json['media']['data']['path']
          }

          Bus.$emit(Events.Dialogs.RENAME_MEDIA_IS_RENAMED)
        })
      },

      /**
       * Copie un media container dans le presse-papiers.
       * @param {Object} media
       */
      copyMediaInClipboard (media) {
        this._fillClipboard('copy', 'Media', media)
      },

      /**
       * Copie un media.
       */
      copyMedia () {
        const data = {
          id: this.clipboard.file.id,
          destination_id: this.mediatheque.explorer.current_id
        }

        Http.Mediatheque.copyMedia(this.mediatheque.name, data, (json) => {
          if (json.error) {
            return
          }

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
        })
      },

      /**
       * Coupe un media container dans le presse-papiers.
       * @param {Object} media
       */
      cutMediaInClipboard (media) {
        this._fillClipboard('cut', 'Media', media)
      },

      /**
       * Déplace un media.
       */
      moveMedia () {
        const media = this.clipboard.file

        if (!media) {
          return
        }

        const data = {
          id: media.id,
          destination_id: this.mediatheque.explorer.current_id
        }

        Http.Mediatheque.moveMedia(this.mediatheque.name, data, (json) => {
          if (json.error) {
            return
          }

          this.$nextTick(function () {
            Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
            this._resetClipboard()
          })
        })
      },

      /**
       * Supprime un media container.
       * @param {Object} media
       */
      deleteMedia (media) {
        const confirm = global.confirm(
          'Êtes-vous sûr de vouloir supprimer ce média ?\n' +
          'Tous les liens entre ce média et les composants seront supprimés.\n' +
          '\n' +
          'Cette action est irréversible !'
        )

        if (!confirm) {
          return
        }

        const data = {
          id: media.id,
          library_id: this.library.id,
        }

        Http.Mediatheque.deleteMedia(this.mediatheque.name, data, (json) => {
          if (json.error) {
            return
          }

          // Suppression dans le clipboard
          if ('id' in this.clipboard.file && this.clipboard.file.id === data.id) {
            this._resetClipboard()
          }

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
        })
      },

      /**
       * Se déplace dans un medias_container.
       */
      goTo (medias_container_id) {
        const current_id = this.mediatheque.explorer.current_id

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_CLEAR_FILES)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_PREV_ID, current_id)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_UPDATE_CURRENT_ID, medias_container_id)
      },

      /**
       * Se déplace dans le medias_container précédent.
       */
      goToPrevious () {
        const current_id = this.mediatheque.explorer.current_id
        const prev_ids = this.mediatheque.explorer.prev_ids
        const prev_id = prev_ids[prev_ids.length - 1]

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_CLEAR_FILES)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_REMOVE_LAST_PREV_ID)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_NEXT_ID, current_id)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_UPDATE_CURRENT_ID, prev_id)
      },

      /**
       * Se déplace dans le medias_container suivant.
       */
      goToNext () {
        const current_id = this.mediatheque.explorer.current_id
        const next_ids = this.mediatheque.explorer.next_ids
        const next_id = next_ids[next_ids.length - 1]

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_CLEAR_FILES)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_REMOVE_LAST_NEXT_ID)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_PREV_ID, current_id)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_UPDATE_CURRENT_ID, next_id)
      },

      /**
       * Se déplace dans le medias_container parent.
       */
      goToParent () {
        const current_id = this.mediatheque.explorer.current_id
        const parent_id = this.mediatheque.explorer.current_medias_container.parent_id

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_CLEAR_FILES)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_PREV_ID, current_id)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_UPDATE_CURRENT_ID, parent_id)
      },

      /**
       * Se déplace dans le medias_container racine.
       */
      goToRoot () {
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_CLEAR_FILES)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_PREV_ID, this.mediatheque.explorer.current_id)
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_UPDATE_CURRENT_ID, this.mediatheque.explorer.root_id)
      },

      /**
       * Rafraîchit le medias_container en cours.
       */
      refresh () {
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_CLEAR_FILES)
        this.readMediasContainer()
      },

      /**
       * Attache un menu contextuel pour les médias.
       * @private
       */
      _bindContextualMenuForView () {
        const that = this

        $.contextMenu({
          selector: `.view--files`,
          items: {
            'show-dialog-create-medias-container': {
              name: 'Créer un dossier',
              callback () {
                Bus.$emit(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_SHOW_DIALOG)
              }
            },
            'paste': {
              name: 'Coller',
              icon: 'paste',
              disabled () {
                return that.mediatheque.clipboard.empty
              },
              callback () {
                const clipboard = that.mediatheque.clipboard
                const action = {
                  'copy': 'COPY',
                  'cut': 'MOVE',
                }[clipboard.action]

                Bus.$emit(Events.Mediatheque[clipboard.file_type][action])
              }
            }
          }
        })
      },

      /**
       * Attache un menu contextuel pour les medias containers.
       * @private
       */
      _bindContextualMenuForMediasContainers () {
        const medias_containers = this.mediatheque.explorer.files.medias_containers

        function isMediasContainerForUploads (key, options) {
          const $target = options.$trigger
          const fileId = parseInt($target.attr('data-nina-mediatheque-contextual-menu-id'), 10)
          const file = medias_containers.find(f => f.id === fileId)

          return file && file.category === 'medias_container_for_uploads'
        }

        this._bindContextualMenuForFiles('medias_container', medias_containers, {
          [Events.Mediatheque.Dialogs.RENAME_MEDIAS_CONTAINER_SHOW_DIALOG]: {name: 'Renommer', icon: 'fa-edit'},
          'sep1': '---------',
          [Events.Mediatheque.MediasContainer.COPY_IN_CLIPBOARD]: {
            name: 'Copier',
            icon: 'copy',
            disabled: isMediasContainerForUploads,
          },
          [Events.Mediatheque.MediasContainer.CUT_IN_CLIPBOARD]: {
            name: 'Couper',
            icon: 'cut',
            disabled: isMediasContainerForUploads,
          },
          'sep2': '---------',
          [Events.Mediatheque.MediasContainer.DELETE]: {
            name: 'Supprimer',
            icon: 'delete',
            disabled: isMediasContainerForUploads,
          },
        })
      },

      /**
       * Attache un menu contextuel pour les medias.
       * @private
       */
      _bindContextualMenuForMedias () {
        const medias = this.mediatheque.explorer.files.medias

        this._bindContextualMenuForFiles('media', medias, {
          [Events.Mediatheque.Dialogs.RENAME_MEDIA_SHOW_DIALOG]: {name: 'Renommer', icon: 'edit'},
          'sep1': '---------',
          [Events.Mediatheque.Media.COPY_IN_CLIPBOARD]: {name: 'Copier', icon: 'copy'},
          [Events.Mediatheque.Media.CUT_IN_CLIPBOARD]: {name: 'Couper', icon: 'cut'},
          'sep2': '---------',
          [Events.Mediatheque.Media.DELETE]: {name: 'Supprimer', icon: 'delete'},
        })
      },

      /**
       * Attache un menu contextuel pour les fichiers de type `fileType`.
       * @param {String} fileType - 'medias_container' ou 'media'
       * @param {Array} files - Liste des medias containers ou medias
       * @param {Object} items - Le menu
       * @private
       */
      _bindContextualMenuForFiles (fileType, files, items) {
        const selector = `[data-nina-mediatheque-contextual-menu="${fileType}"]`

        $.contextMenu({
          selector,
          items,
          callback (event, options) {
            const $target = options.$trigger
            const fileId = parseInt($target.attr('data-nina-mediatheque-contextual-menu-id'), 10)
            const file = files.find(f => f.id === fileId)

            Bus.$emit(event, file)
          },
        })
      },

      /**
       * Rempli le presse-papiers
       * @param {String} action
       * @param {String} file_type
       * @param {Object} file
       * @private
       */
      _fillClipboard (action, file_type, file) {
        this.$store.commit(Mutation.MEDIATHEQUE_CLIPBOARD_FILL, {
          action,
          file_type,
          file,
          scope: this.mediatheque.name,
        })
      },

      /**
       * Reset le presse-papiers.
       * @private
       */
      _resetClipboard () {
        this.$store.commit(Mutation.MEDIATHEQUE_CLIPBOARD_RESET, {
          scope: this.mediatheque.name
        })
      },
    },
    created () {
      this.readMediasContainer()

      // Actions sur les medias containers
      Bus.$on(Events.Mediatheque.MediasContainer.CREATE, this.createMediasContainer)
      Bus.$on(Events.Mediatheque.MediasContainer.RENAME, this.renameMediasContainer)
      Bus.$on(Events.Mediatheque.MediasContainer.DELETE, this.deleteMediasContainer)

      Bus.$on(Events.Mediatheque.MediasContainer.COPY_IN_CLIPBOARD, this.copyMediasContainerInClipboard)
      Bus.$on(Events.Mediatheque.MediasContainer.COPY, this.copyMediasContainer)

      Bus.$on(Events.Mediatheque.MediasContainer.CUT_IN_CLIPBOARD, this.cutMediasContainerInClipboard)
      Bus.$on(Events.Mediatheque.MediasContainer.MOVE, this.moveMediasContainer)

      // Actions sur les medias
      Bus.$on(Events.Mediatheque.Media.RENAME, this.renameMedia)
      Bus.$on(Events.Mediatheque.Media.DELETE, this.deleteMedia)

      Bus.$on(Events.Mediatheque.Media.COPY_IN_CLIPBOARD, this.copyMediaInClipboard)
      Bus.$on(Events.Mediatheque.Media.COPY, this.copyMedia)

      Bus.$on(Events.Mediatheque.Media.CUT_IN_CLIPBOARD, this.cutMediaInClipboard)
      Bus.$on(Events.Mediatheque.Media.MOVE, this.moveMedia)

      // Navigation
      Bus.$on(Events.Mediatheque.Navigation.GO_TO, this.goTo)
      Bus.$on(Events.Mediatheque.Navigation.GO_TO_PREVIOUS, this.goToPrevious)
      Bus.$on(Events.Mediatheque.Navigation.GO_TO_NEXT, this.goToNext)
      Bus.$on(Events.Mediatheque.Navigation.GO_TO_PARENT, this.goToParent)
      Bus.$on(Events.Mediatheque.Navigation.GO_TO_ROOT, this.goToRoot)
      Bus.$on(Events.Mediatheque.Navigation.REFRESH, this.refresh)
    },
    mounted () {
      this.bindContextualMenus()
    }
  }
</script>
