{% extends BaseComponent %}

{% block content %}
    {{ parent() }}
{% endblock %}

{% block class %}
    {{- parent() -}}
    {{- ninaObject.model.styles['width'] | ninaColWidthPercToBootstrapCol -}}
{% endblock %}

{# On vide le block 'style' #}
{% block style %}{% endblock %}
