{% import _self as macros %}

{% set label_is_enabled = (label is not defined) or (label is defined and label == true) %}

{% if label_for is not defined %}
    {% set label_for = 'form_' ~ field.id %}
{% endif %}

{% if label_class is not defined %}
    {% set label_class = '' %}
{% endif %}

{% block before_field %}{% endblock %}

{% if (wrapper is not defined) or (wrapper is defined and wrapper) %}
    <div class="{{ wrapper_class|default('form-group') }}">
{% endif %}

    {# Label à gauche #}
    {% if label_is_enabled and label_position|default('left') == 'left' %}
        {{ macros.label(_context, label_for, label_class, field) }}
    {% endif %}

    {# Label autour, ouverture du label #}
    {% if label_is_enabled and label_position|default('left') == 'around' %}
        {{ macros.label_open(_context, label_for, label_class) }}
    {% endif %}

        {% block content %}{% endblock %}

    {# Label autour, fermeture du label #}
    {% if label_is_enabled and label_position|default('left') == 'around' %}
        {{ field.label }}
        {{ macros.label_close(_context) }}
    {% endif %}

    {# Label à droite #}
    {% if label_is_enabled and label_position|default('left') == 'right' %}
        {{ macros.label(label_for, label_class) }}
    {% endif %}

{% if (wrapper is not defined) or (wrapper is defined and wrapper) %}
    </div>
{% endif %}

{% macro label_open(globalvars, label_for, label_class) %}
    <label
        {% if label_for %}for="{{ label_for }}"{% endif %}
        {% if label_class %}class="{{ label_class }}"{% endif %}
    >

    {# On redéfinie ninaObject qu'on récupère dans _context, car une macro n'y a pas accès #}
    {% set ninaObject = globalvars.ninaObject %}
    {% set field = globalvars.field %}

    {% if field.properties %}
        <button class="btn btn-default btn-xs" style="margin: 5px 0" data-open-next-element-in-dialog>
            <i class="fa fa-gear"></i>
        </button>
        {% include "admin/FieldProperties.html.twig" %}
    {% endif %}
{% endmacro %}

{% macro label_close(globalvars) %}
    </label>
{% endmacro %}

{% macro label(globalvars, label_for, label_class, field) %}
    {% import _self as macros %}

    {{ macros.label_open(globalvars, label_for, label_class) }}
    {{ field.label }}
    {{ macros.label_close(globalvars) }}
{% endmacro %}
