{% extends './fields/BaseField.html.twig' %}

{% block content %}
    <textarea
        name="fieldsValues[{{ field.id }}]"
        id="form_{{ field.id }}"
        class="form-control"
        rows="6"
        {{ field.attributes | ninaHtmlAttributes | raw }}
    >{{ fieldValue }}</textarea>
{% endblock %}
