<div data-nina-run-vuejs>
    <div is="FieldImage"
         component-class='{{ ninaObjectClass }}'
         :component-id='{{ ninaObjectId }}'
         :field='{{ field | json_encode }}'
         :mimetypes='{{ field.allowedMimetypes | json_encode }}'
         :initial-images="{{ (ninaObject.medias[field.id] | default([])) | json_encode }}">

        <div slot="update-field-properties">
            <button class="btn btn-default btn-xs btn-block" title="Modifier les propriétés"
                    data-open-next-element-in-dialog>
                <i class="fa fa-gear"></i>&nbsp;Modifier
            </button>
            {% include "admin/FieldProperties.html.twig" %}
        </div>
    </div>
</div>
