{% extends './fields/BaseField.html.twig' %}

{% set wrapper = true %}
{% set label_position = 'left' %}
{% set label_for = '' %}

{% block content %}
    {% for field in field.checkboxes %}
        {% set fieldValue = ninaObject.fieldsValues[field.id] %}
        {% include 'fields/FieldCheckbox.html.twig' with {'inline': true} %}
    {% endfor %}
{% endblock %}
