{% extends './fields/BaseField.html.twig' %}

{% block content %}
    <select id="form_{{ field.id }}" name="fieldsValues[{{ field.id }}]" class="form-control input-sm">

        {% if field.placeholder %}
            <option disabled value="">{{ field.placeholder }}</option>
        {% endif %}

        {% for key, option in field.list %}
            <option
                value="{{ key }}"
                {% if (fieldValue == key) or (fieldValue is empty and field.defaultValue == key) %}
                    selected="selected"
                {% endif %}
            >{{ option.text }}</option>
        {% endfor %}
    </select>
{% endblock %}
