<label for="{{ field.id }}">{{ field.label }}</label>

<div data-nina-run-vuejs>
    <div is="FieldFile"
         component-class='{{ ninaObjectClass }}'
         :component-id='{{ ninaObjectId }}'
         :field='{{ field | json_encode }}'
         :initial-files="{{ (ninaObject.medias[field.id] | default([])) | json_encode }}"
         :allowed-extensions='{{ field.allowedExtensions.with_dot | json_encode }}'
         :allowed-mimetypes='{{ field.allowedMimetypes | json_encode }}'></div>
</div>
