<div class="form-group">
    <button class="btn btn-default btn-xs" data-open-next-element-in-dialog>
        <i class="fa fa-gear"></i>
    </button>
    {% include "admin/FieldProperties.html.twig" %}

    <label>
        {{ field.label }}
    </label>
</div>

<div data-nina-run-vuejs>
    <div is="FieldLinks" :field='{{ field|json_encode }}' :field-value='{{ fieldValue|json_encode }}'></div>
</div>
