{% extends './fields/BaseField.html.twig' %}

{% if inline is defined and inline == true %}
    {% set wrapper = false %}
    {% set label_class = 'checkbox-inline' %}
{% else %}
    {% set wrapper_class = 'checkbox' %}
{% endif %}

{% set label_for = 'form_' ~ field.id %}
{% set label_position = 'around' %}

{% block before_field %}
    {% if field.bigLabel %}
        <label>{{ field.bigLabel }}</label>
    {% endif %}
{% endblock %}

{% block content %}
    <input type="checkbox" id="{{ label_for }}" name="fieldsValues[{{ field.id }}]"
           {% if fieldValue %}checked="checked"{% endif %}
    />
{% endblock %}
