{% extends './fields/BaseField.html.twig' %}

{% block content %}
    {% if field.attributes.before or field.attributes.after %}
        <div class="input-group">
    {% endif %}

    {% if field.attributes.before %}
        <span class="input-group-addon">
            {{ (field.attributes.before is iterable) ? field.attributes.before[ninaLng] : field.attributes.before }}
        </span>
    {% endif %}

    {% autoescape %}
        <input
            {{ field.attributes | ninaHtmlAttributes | raw }}
            name="fieldsValues[{{ field.id }}]"
            id="form_{{ field.id }}"
            type="{{ type|default('text') }}"
            value="{{ fieldValue }}"
            class="form-control input-sm"
        >
    {% endautoescape %}

    {% if field.attributes.after %}
        <span class="input-group-addon">
            {{ (field.attributes.after is iterable) ? field.attributes.after[ninaLocale] : field.attributes.after }}
        </span>
    {% endif %}

    {% if field.attributes.before or field.attributes.after %}
        </div>
    {% endif %}

{% endblock %}
