<template>
  <div id="nina-app" :class="{'grids-are-visible': gridsAreVisible}">
    <template v-if="loading">
      Chargement..
    </template>
    <template v-else="loading">
      <nina-cursor></nina-cursor>
      <div id="components"></div>
      <div id="aside">
        <library></library>
      </div>
    </template>
  </div>
</template>

<script>
  import Vue from 'vue'
  import { mapGetters } from 'vuex'
  import Bus from './bus'
  import Events from './events'

  import Http from './NinaHttp'
  import * as Helper from './Helpers'
  import * as Mutation from './store/mutation-types'

  // Import des composants
  import BlocManagerComponent from './components/BlocManager.vue'
  import ObjectManagerComponent from './components/ObjectManager.vue'

  /*
   * Vue.extend() permet de rendre un composant .vue initialisable via JS.
   */
  const BlocManager = Vue.extend(BlocManagerComponent)
  const ObjectManager = Vue.extend(ObjectManagerComponent)

  /**
   * @vue
   */
  export default {
    /**
     * Données relatives et statiques, du composant App.
     */
    data () {
      return {
        loading: true,
      }
    },

    /**
     * Fonctions qui retournent une donnée "dynamique".
     *
     * @see https://vuejs.org/v2/guide/computed.html*
     * @example
     * // grâce à mapGetters de Vuex
     * this.options == this.$options.getters.options
     *
     * // Si this.name change, alors this.reversedName changera aussi.
     * this.reversedName => this.name.split('').reverse().join('')
     *
     */
    computed: {
      ...mapGetters([
        'options',
        'componentsMetadata',
        'gridsAreVisible'
      ]),

      $components: function () {
        return this.$el.querySelector('#components')
      },

      $aside: function () {
        return this.$el.querySelector('#aside')
      }
    },

    /**
     * Les méthodes du composant.
     *
     * Elles peuvent être utilisées en tant que simples méthodes d'une classe
     * JavaScript classiques (prototypage), ou alors en tant que gestionnaire
     * d'événements.
     *
     * @see https://vuejs.org/v2/guide/events.html#Method-Event-Handlers
     * @example
     * this.ma_methode();
     * this.une_autre_methode();
     *
     * <span @click="clicked"></span> // exécute this.clicked(event) lors du clic sur l'élément <span>.
     */
    methods: {
      ready (jsonCollection, jsonComponentsMetadata, jsonComponentsGroupsTree) {
        // Chargement terminé, on affiche maintenant l'administration
        this.loading = false

        /**
         * Le DOM est en train d'être modifié grâce à this.loading = false.
         * Utiliser this.$nextTick() permet d'être sûr que le code dans
         * le callback sera exécuté après la mise-à-jour du DOM.
         *
         * => https://vuejs.org/v2/api/#vm-nextTick
         */
        this.$nextTick(function () {
          this.$store.commit(Mutation.COMPONENTS_GROUPS_TREE, jsonComponentsGroupsTree[0])
          this.$store.commit(Mutation.COMPONENTS_EXPLORER_SET_CURRENT_GROUP, jsonComponentsGroupsTree[0])
          this.$store.commit(Mutation.COMPONENTS_METADATA, jsonComponentsMetadata.metadata)

          this.loadSupplementaryAssets()

          this.addComponents(jsonCollection.html)
          this.setUpBlocManagers()
          this.setUpObjectManagers()
          this.makesComponentsSortable()

          Bus.$on(Events.OBJECTS_ARE_DIRTY, _ => {
            this.setUpObjectManagers()
            this.setUpBlocManagers()
            this.makesComponentsSortable()
          })
        })
      },
      /**
       * Ajoute les composants (format HTML) dans l'élément HTML $components.
       * @param {string} html
       */
      addComponents (html) {
        this.$components.innerHTML = html
      },

      /**
       * Initialise les BlocManager autour des .NinaBloc.NinaBlocEditable.
       *
       * Dû au fonctionnement du composant BlocManager, celui-ci ne s'attachera
       * au .NinaBlocEditable uniquement s'il n'est pas déjà contenu dans un
       * BlocManager. Il n'y a donc pas à s'inquiéter au comportement de
       * l'application si on appelle plusieurs fois this.setUpBlocManagers().
       */
      setUpBlocManagers () {
        const selector = '.NinaBloc.NinaBlocEditable'
        const $blocComponents = this.$components.querySelectorAll(selector)

        $blocComponents.forEach($blocComponent => {
          new BlocManager({
            store: this.$store,
            toasted: this.$toasted,
            data: {
              bloc: $blocComponent
            }
          }).$mount()
        })
      },

      /**
       * Initialise les ObjectManager autour des .NinaObject.NinaObjectEditable.
       *
       * De même que le fonctionnement du BlocManager, l'ObjectManager ne
       * s'attachera au .NinaObjectEditable uniquement s'il n'est pas déjà
       * contenu dans un ObjectManager.
       */
      setUpObjectManagers () {
        const selector = '.NinaObject.NinaObjectEditable'
        const $objectComponents = this.$components.querySelectorAll(selector);

        [].slice.call($objectComponents)
          .filter($oc => $oc.classList.contains('NinaObject'))
          .filter($oc => {
            // Si plusieurs enfants, on est sûr que c'est pas l'ObjectManager
            if ($oc.childNodes.length > 1) {
              return true
            }

            // S'il y a qu'un enfant, on vérifie si c'est pas l'ObjectManager
            if ($oc.childNodes.length === 1 && !$oc.childNodes[0].classList.contains('NinaObjectManager')) {
              return true
            }

            // On peut accrocher l'ObjectManager
            return false
          })
          .forEach($objectComponent => {
            new ObjectManager({
              store: this.$store,
              toasted: this.$toasted,
              data: {
                object: $objectComponent
              }
            }).$mount()
          })
      },

      /**
       * Permet de rendre les composants ré-arrangeable.
       */
      makesComponentsSortable () {
        const app = this

        function a ($$component, $$parent, isFromLibrary) {
          const componentClass = isFromLibrary
            ? $$component.attr('data-nina-component-class')
            : Helper.extractObjectClass($$component)

          const parentClass = Helper.extractObjectClass($$parent)
          const parentMetadata = app.componentsMetadata[parentClass]

          return [componentClass, parentClass, parentMetadata]
        }

        /**
         * @param ui
         * @param isFromLibrary
         */
        function handleSort (ui, isFromLibrary = false) {
          const $$component = ui.item
          const $$parent = ui.placeholder.parents('[id^="Nina_"]:first')

          const [componentClass, parentClass, parentMetadata] = a($$component, $$parent, isFromLibrary)

          if (parentMetadata && !parentMetadata.contains.includes(componentClass)) {
            ui.placeholder.hide()
            return
          }

          if (isFromLibrary) {
            ui.placeholder.text(`Insérer dans «\xA0${$$parent.attr('id')}\xA0» ?`)
          } else {
            ui.placeholder.text(`Déplacer dans «\xA0${$$parent.attr('id')}\xA0» ?`)
          }
        }

        /**
         * @param {jQuery} $$component
         * @param isFromLibrary
         * @param $$objectFromLibrary
         */
        function handleStopOrReceive ($$component, isFromLibrary = false, $$objectFromLibrary) {
          const $$parent = $$component.parents('[id^="Nina_"]:first')
          const [componentClass, parentClass, parentMetadata] = a($$component, $$parent, isFromLibrary)

          if (parentMetadata && !parentMetadata.contains.includes(componentClass)) {
            alert('Impossible de placer le composant ici.')
            $$component.remove()
            return
          }

          const id = isFromLibrary ? $$component.attr('data-nina-component-id') : Helper.extractObjectId($$component)
          const parentId = Helper.extractObjectId($$parent)

          /**
           * @param json
           */
          function afterMoveOrDuplicateObject (json) {
            if (json.error) {
              return
            }

            if (isFromLibrary && json.html) {
              $$component.replaceWith(json.html)
              Bus.$emit(Events.OBJECTS_ARE_DIRTY)
            }

            app.$nextTick(function () {
              // On récupère soit les composants directs, soit les composants contenu à l'intérieur d'un ObjectManager
              const $$objects = $$parent.find('> [id^="Nina_"], > .NinaObjectManager > .NinaObjectContent > [id^="Nina_"]')
              const [ids, _] = Helper.getIdAndNewOrderForObjects($$objects)
              const data = ids.reduce((acc, id, index) => {
                acc.push({
                  id,
                  order: index
                })
                return acc
              }, [])

              const callback = json => {
                // Si le parent est un ObjectEditable, on le rafraîchît entièrement
                if ($$parent.hasClass('NinaObject') && $$parent.hasClass('NinaObjectEditable')) {
                  Http.Objects.render({id: parentId}, (json) => {
                    if (json.error) {
                      return
                    }

                    $$parent.replaceWith(json.html)
                    Bus.$emit(Events.OBJECTS_ARE_DIRTY)
                  })
                }

                if (isFromLibrary) {
                  app.$toasted.success('Le composant a bien été inséré !')
                } else {
                  app.$toasted.success('Le composant a bien été déplacé !')
                }
              }

              if (data.length > 0) {
                Http.Objects.changeOrders({data}, callback)
              } else {
                callback()
              }
            })
          }

          const data = {
            id: id,
            parent_id: parentId,
            order: 0 // faux order, il sera recalculé plus tard
          }

          if (isFromLibrary) {
            Http.Objects.duplicate(data, afterMoveOrDuplicateObject)
          } else {
            Http.Objects.move(data, afterMoveOrDuplicateObject)
          }
        }

        Object.keys(app.componentsMetadata).forEach(componentName => {
          const $$component = $(`[id^=Nina_${componentName}_]`, app.$component)
          const componentMetadata = app.componentsMetadata[componentName]
          const containableSelectors = componentMetadata
            .contains
            .map(s => `[id^="Nina_${s}_"]`)

          let isFromLibrary = false

          $$component.sortable({
            items: containableSelectors.join(','),
            handle: '.NinaObjectManager > .NinaObjectManagerMenu .NinaObjectHandle' +
            ', .NinaBlocManager > .NinaBlocManagerMenu .NinaBlocHandle',
            cancel: '[disabled]', // quand .NinaObjectHandle sera à [disabled], on ne pourra plus le déplacer
            placeholder: 'NinaPlaceholder',
            dropOnEmpty: true,
            connectWith: `[id^="Nina_${componentName}_"]`,
            scroll: true,
            tolerance: 'pointer',
            opacity: 0.01,
            cursor: 'move',
            start (e, ui) {
              app.$store.commit(Mutation.USER_HAS_STARTED_TO_DRAG_COMPONENT)
              isFromLibrary = ui.item.hasClass('drag-from-library')
            },
            sort (e, ui) {
              handleSort(ui, isFromLibrary)
            },
            stop (e, ui) {
              app.$store.commit(Mutation.USER_HAS_STOPPED_TO_DRAG_COMPONENT)
              if (!isFromLibrary) {
                handleStopOrReceive(ui.item)
              }
            },
            receive (e, ui) {
              if (isFromLibrary) {
                handleStopOrReceive(ui.helper, true, ui.item)
              }
            }
          })
        })
      },

      /**
       * Charge des assets supplémentaires.
       */
      loadSupplementaryAssets () {
        const {assets_url, locale} = this.options

        this.insertCssFile(`${assets_url}/css/locales/${locale}/locale.css`)
        this.insertJsFile(`${assets_url}/vendor/tinymce/tinymce.min.js`)

        this.loadComponentsAssets()
      },

      /**
       * Charge les fichiers CSS et JS des composants, grâce à l'objet
       * this.componentsMetadata.json.
       */
      loadComponentsAssets () {
        const components_assets_url = this.options.components_assets_url

        Object.keys(this.componentsMetadata).forEach(component => {
          const metadata = this.componentsMetadata[component]

          metadata['assets']['styles'].forEach(style => {
            this.insertCssFile(`${components_assets_url}/${component}/${style}`)
          })

          metadata['assets']['scripts'].forEach(script => {
            this.insertJsFile(`${components_assets_url}/${component}/${script}`)
          })
        })
      },

      /**
       * Insère un fichier CSS dans le DOM, grâce à son URL.
       * @param {string} url
       */
      insertCssFile (url) {
        const $link = document.createElement('link')

        $link.setAttribute('href', url)
        $link.setAttribute('type', 'text/css')
        $link.setAttribute('rel', 'stylesheet')

        this.$aside.appendChild($link)
      },

      /**
       * Insère un fichier JS dans le DOM, grâce à son URL.
       * @param {string} url
       */
      insertJsFile (url) {
        const $script = document.createElement('script')

        $script.setAttribute('src', url)
        $script.setAttribute('type', 'text/javascript')

        this.$aside.appendChild($script)
      }
    },

    created () {
      this.$store.commit(Mutation.OPTIONS, Object.assign({}, ADMIN_OPTIONS))
    },

    /**
     * Méthode relative au cycle de vie du composant.
     * "mounted" signifie que notre composant a bien été "monté" sur le DOM,
     * et qu'il est maintenant possible d'utiliser pleinement le composant.
     *
     * => https://vuejs.org/v2/guide/instance.html#Instance-Lifecycle-Hooks
     * => https://vuejs.org/v2/api/#mounted
     */
    mounted () {
      $.ajaxPrefilter((options, originalOptions, jqXHR) => {
        if (!('URL_IS_ALREADY_PREFIXED_AND_SUFFIXED' in options)) {
          options['url'] = this.options['api_url'] + '/' + options['url'] + '?root_id=' + this.options.root_id
          options['URL_IS_ALREADY_PREFIXED_AND_SUFFIXED'] = true
        }
        options['datatype'] = 'json'
      })

      // On récupère la collection de composants auprès du serveur
      Http.Objects.getCollection(jsonCollection => {
        // On récupère toutes les méta-données des composants
        Http.Objects.getMetadata(jsonComponentsMetadata => {
          // On récupère l'arbre des groupes des composants
          Http.Library.getComponentsGroupsTree(jsonComponentsGroupsTree => {
            this.ready(jsonCollection, jsonComponentsMetadata, jsonComponentsGroupsTree)
          })
        })
      })
    }
  }
</script>

<style lang="scss" src="./styles/all.scss"></style>
<style src="../../../public/assets/vendor/font-awesome.min.css"></style>
<style src="../node_modules/cropper/dist/cropper.min.css"></style>
