/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */

@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins/responsive-visibility";

.#{$namespace}-hidden-on-computer {
    @extend .hidden-lg;
}

.#{$namespace}-hidden-on-tablet {
    @extend .hidden-md;
    @extend .hidden-sm;
}

.#{$namespace}-hidden-on-smartphone {
    @extend .hidden-xs;
}
