<template>
  <div>
    <div>
      <input :id="field.id" :accept="allowedExtensions.join()"
             type="file" multiple="multiple" style="display: none">

      <div class="dropdown">
        <button class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-plus-circle"></i>&nbsp;Ajouter un fichier&nbsp;<i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#" @click.prevent="openComputerFileChooser">
              Depuis l'ordinateur
            </a>
          </li>
          <li>
            <a href="#" @click.prevent="openMediathequeFileChooser" class="disabled">
              Depuis la médiathèque
            </a>
          </li>
        </ul>
      </div>

      <button @click.prevent="sendReadyFiles" :disabled="readyFiles.length === 0" class="btn btn-xs btn-primary">
        Envoyer tous les fichiers
      </button>

      <button @click.prevent="cancelSendingFiles" :disabled="sendingFiles.length === 0" class="btn btn-xs btn-warning">
        Arrêter tous les envois
      </button>

      <div class="dropdown">
        <button :disabled="files.length === 0" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown">
          Supprimer tous les fichiers&nbsp;<i class="fa fa-caret-down"></i>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" @click.prevent="deleteRelationBetweenFieldAndFiles">Liés au champ</a></li>
          <li><a href="#" @click.prevent="deleteComponentRelatedFilesFromMediatheque">De la médiathèque</a></li>
        </ul>
      </div>
    </div>

    <!-- La file d'attente des fichiers prêts à être envoyé -->

    <h4>File d'attente</h4>

    <template v-if="queueFiles.length === 0">
      <div class="alert alert-info">La file d'attente est vide.</div>
    </template>
    <template v-else>
      <div class="container-fluid list">
        <transition-group name="fade" tag="div">
          <div v-for="file in queueFiles" :key="file" class="row">
            <div class="col-md-7 list--filename">
              Préparation à envoyer «&nbsp;<i>{{file.label}}</i>&nbsp;»
            </div>

            <div class="col-md-2 list--progress">
              <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" :style="{width: file.properties.progression + '%'}">
                  {{file.properties.progression + '%'}}
                </div>
              </div>
            </div>

            <div class="col-md-3 list--buttons">
              <button @click.prevent="sendReadyFile(file)" :disabled="file.state === 'sending'"
                      type="button" class="btn btn-primary btn-xs">Envoyer
              </button>
              <button @click.prevent="cancelSendingFile(file)"
                      type="button" class="btn btn-warning btn-xs">Annuler
              </button>
            </div>
          </div>
        </transition-group>
      </div>
    </template>

    <!-- Les fichiers déjà liés au composant -->

    <h4>Fichiers liés au composant</h4>

    <template v-for="fileId in fileIdsToUnlink">
      <input :name="'mediasToUnlink[' + field.id + '][]'" :value="fileId" type="hidden">
    </template>

    <template v-if="files.length === 0">
      <div class="alert alert-info">
        Aucun fichier n'a été pour l'instant lié avec ce champ.
      </div>
    </template>
    <template v-else>
      <div class="container-fluid list">

        <transition-group name="fade" tag="div">
          <div v-for="file in files" :key="file" class="row">
            <div class="col-md-10 list--filename">
              <input v-if="file.id" v-model="file.id" :name="'fieldsValues[' + field.id +'][]'" type="hidden">

              <thumbnail :media="file"></thumbnail>
              <a :href="$store.getters.options.nina_mediatheque_url + file.data.path" target="_blank">
                {{file.data.path}}
              </a>
            </div> <!-- /col-md-10 -->

            <div class="col-md-2 list--buttons">
              <div class="dropdown">
                <button type="button" class="btn btn-xs btn-danger dropdown-toggle" data-toggle="dropdown">
                  Supprimer <i class="fa fa-caret-down"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li>
                    <a href="#" @click.prevent="deleteRelationBetweenComponentAndFile(file.id)">
                      Le lien avec le composant
                    </a>
                  </li>
                  <li>
                    <a href="#" @click.prevent="deleteComponentRelatedFileFromMediatheque(file.id)" class="disabled">
                      De la médiathèque
                    </a>
                  </li>
                </ul>
              </div>
            </div> <!-- /col-md-2 -->
          </div>
        </transition-group>
      </div>
    </template>
  </div>
</template>

<script>
  import sha1 from "sha1";
  import {mapGetters} from "vuex";

  import Bus from '../bus';
  import Events from '../events';

  import * as Mutation from '../store/mutation-types';

  import Thumbnail from '../components/Library/MediasExplorer/Thumbnail.vue';

  /**
   * @vue
   */
  export default {
    components: {
      Thumbnail,
    },
    props: {
      // Le nom du composant associé à ce FieldFile
      componentClass: {type: String, required: true},
      // L'ID du composant associé à ce FieldFile
      componentId: {type: Number, require: false},
      // Le field qui contient la liste des fichiers
      field: {type: Object, required: true},
      // Liste des fichiers envoyés
      initialFiles: {type: Array, required: true},
      // Extensions autorisées
      allowedExtensions: {type: Array, required: false},
      // Mimetypes autorisés
      allowedMimetypes: {type: Array, required: false},
      // Taille maximale
      maxSize: {type: Number, required: false},
    },
    data () {
      return {
        files: this.initialFiles,
        fileIdsToUnlink: [],
        queueFiles: [],
      }
    },
    computed: {
      ...mapGetters(['options', 'mediatheque']),
      $$fieldFile () {
        return $(this.$el).find('#' + this.field.id);
      },
      readyFiles() {
        return this.queueFiles.filter(file => file.properties.state === 'ready');
      },
      sendingFiles() {
        return this.queueFiles.filter(file => file.properties.state === 'sending');
      },
    },
    methods: {
      /**
       * Ouvre la fenêtre de sélection de fichier(s) de l'ordinateur.
       */
      openComputerFileChooser() {
        this.$$fieldFile.click();
      },

      /**
       * Ouvre la Médiathèque pour choisir un fichier(s) à intégrer
       */
      openMediathequeFileChooser() {
        // const ninaMediatheque = this.$store.getters.mediatheques['nina'];

        Bus.$emit(Events.SHOW_LIBRARY_THEN_NINA_MEDIATHEQUE);
      },

      /**
       * Envoie tous les fichiers prêts à être envoyés.
       */
      sendReadyFiles () {
        this.readyFiles.forEach(this.sendReadyFile);
      },

      /**
       * Envoi un fichier qui est prêt à être envoyé.
       * @param {Object} file
       */
      sendReadyFile (file) {
        file.properties.state = 'sending';
        file.properties.jqXHR = this.$$fieldFile.fileupload('send', {files: [file.properties.realFile]})
          .error((jqXHR, textStatus, errorThrown) => {
            // cancelSendingFile()
            if (errorThrown === 'abort') {
              this.files.splice(this.files.indexOf(file), 1);
            }
          });
      },

      /**
       * Annule l'envoi de tous les fichiers qui sont en train d'être envoyés.
       */
      cancelSendingFiles () {
        this.sendingFiles.forEach(this.cancelSendingFile);
      },

      /**
       * Annule un fichier qui est en train d'être envoyé
       * @param {Object} file
       */
      cancelSendingFile (file) {
        if (file.jqXHR) {
          file.jqXHR.abort();
        } else {
          this.queueFiles.splice(this.files.indexOf(file), 1);
        }
      },

      /**
       * Supprime la relation entre le composant et les fichiers.
       */
      deleteRelationBetweenFieldAndFiles () {
        this.files.forEach(file => this.$nextTick(function () {
          this.deleteRelationBetweenComponentAndFile(file.id);
        }))
      },

      /**
       * Supprime la relation entre le composant et le fichier.
       * @param {Number} fileId
       */
      deleteRelationBetweenComponentAndFile (fileId) {
        const file = this.findFileById(fileId);
        const indexInFiles = this.files.indexOf(file);

        if (indexInFiles > -1) {
          this.files.splice(indexInFiles, 1);

          if (this.fileIdsToUnlink.indexOf(fileId) === -1) {
            this.fileIdsToUnlink.push(fileId);
          }
        }
      },

      /**
       * Supprime les fichiers liés au composant, de la médiathèque.
       */
      deleteComponentRelatedFilesFromMediatheque () {
        alert("Pas implémentée.");
      },

      /**
       * Supprime le fichier lié au composant, de la médiathèque.
       * @param {Number} fileId
       */
      deleteComponentRelatedFileFromMediatheque (fileId) {
        alert("Pas implémentée.");
        const file = this.findFileById(fileId);
      },

      /**
       * @param {Number} id
       * @return {Object}
       */
      findFileById(id) {
        const file = this.files.find(file => file.id === id);

        if (!file) {
          throw new Error(`Impossible de trouver le fichier correspondant à l'id ${id}.`);
        }

        return file;
      },

      /**
       * @param {Object} realFile
       * @return {Object}
       */
      findFileByRealFile(realFile) {
        const file = this.queueFiles.find(f => f.properties.realFile === realFile);

        if (!file) {
          console.error({
            realFile
          });
          throw new Error(`Impossible de trouver le fichier.`);
        }

        return file;
      },

      initJQueryFileUpload () {
        const that = this;

        this.$$fieldFile.fileupload({
          url: 'upload/file_for_component',
          dataType: 'json',
          paramName: 'file',
          autoUpload: false,
          replaceFileInput: false,
          formData($$form) {
            return [
              {name: 'componentId', value: that.componentId},
              {name: 'componentClass', value: that.componentClass},
              {name: 'fieldId', value: that.field.id}
            ]
          },
          add (e, data) {
            /** @type File */
            const realFile = data.files[0];
            const maxSize = that.maxSize;

            // realFile.size est en octets, alors que maxSize en kilo-octets
            if (realFile.size > maxSize * 1024) {
              const roundedMaxSize = Math.round(maxSize / 1024 * 2) / 2;
              alert(`Le fichier sélectionné dépasse la taille de ${roundedMaxSize} Mo.`);
              return;
            }

            that.queueFiles.push({
              label: realFile.name,
              properties: {
                realFile,
                state: 'ready',
                progression: 0,
              }
            });
          },
          send(e, data) {
            return true;
          },
          progress (e, data) {
            const file = that.findFileByRealFile(data.files[0]);
            file.properties.progression = parseInt(data.loaded / data.total * 100, 10);
          },
          done (e, data) {
            const file = that.findFileByRealFile(data.files[0]);
            const media = data.result['media'];

            that.queueFiles.splice(that.queueFiles.indexOf(file), 1);

            if (data.result['success'] === false) {
              alert(data.result.err);
              return;
            }

            Object.assign(file, media);

            Bus.$emit(Events.Mediatheque.Navigation.REFRESH);
            that.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_MEDIA_TO_SELECTION, media);

            file.properties.state = 'uploaded';
            delete file.properties.realFile;
            delete file.properties.jqXHR;

            if (file.label !== data.result['original_filename']) {
              that.$toasted.show(`Le fichier « ${data.result['original_filename']} » a bien été envoyé en tant que « ${file.label} » !`, {duration: 2500});
            } else {
              that.$toasted.show(`Le fichier « ${file.label} » a bien été envoyé ! `);
            }
          },
        })
      },
    },
    created() {
      Bus.$on(Events.ASK_FOR_ENABLE_MEDIAS_SELECTION, (fieldId) => {
        if (fieldId !== this.field.id) {
          return;
        }

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PREPARE_MEDIAS_SELECTION, {
          fieldId: this.field.id,
          medias: this.files,
          max: 4,
          infinite: false,
        });
      });

      Bus.$on(Events.ASK_FOR_MEDIATHEQUES_FILTERS, (fieldId) => {
        if (fieldId !== this.field.id) {
          return;
        }

        const filters = [];

        if (this.allowedMimetypes[0] !== '*') {
          filters.push(file => this.allowedMimetypes.includes(file.data.mimetype));
        }

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_SET_FILTERS, filters);
      });
    },
    mounted(){
      $('.dropdown-toggle', this.$el).dropdown();
      this.initJQueryFileUpload();
    },
    updated() {
      $('.dropdown-toggle', this.$el).dropdown();
    },
  }
</script>

<style scoped lang="scss" rel="stylesheet/scss">
  $color: #c4c4c4;

  .list {
    border-radius: 4px;
    border: 1px solid $color;

    .row {
      [class^="col-"],
      [class*=" col-"] {
        padding: 10px;
      }

      &:not(:first-child) {
        border-top: 1px solid $color;
      }
    }
  }

  .list--filename {

  }

  .list--progress {

  }

  .list--buttons {
    text-align: right;
  }

  .thumbnail {
    display: inline-block;
    height: 26px;
    width: 26px;
    vertical-align: text-top;
    margin-right: 8px;
  }

  .dropdown {
    display: inline-block;
  }
</style>
