<template>
  <div>
    <div style="margin: 2px 0">
      <input :id="field.id" type="file" style="display: none">

      <template v-for="imageId in imagesIdsToUnlink">
        <input :name="'mediasToUnlink[' + field.id + '][]'" :value="imageId" type="hidden">
      </template>

      <template v-for="image in images">
        <input :name="'fieldsValues[' + field.id + '][]'" :value="image.id" type="hidden">
      </template>

      <div v-if="images.length > 0" class="alert alert-warning">
        <i class="fa fa-warning"></i>
        N'oubliez pas de sauvegarder chacunes de vos modifications en cliquant sur le bouton
        <button class="btn btn-success btn-xs" disabled="disabled">
          <i class="fa fa-save"></i>&nbsp;Appliquer
        </button>
        .
      </div>

      <button @click.prevent="openMediathequeFileChooser"
              v-if="!(!field.infinite && images.length === field.max)"
              class="btn btn-xs btn-default">
        <i class="fa fa-plus-circle"></i>&nbsp;Importer depuis la médiatheque
      </button>
    </div>

    <div v-if="images.length > 0">

      <!-- Sélecteur d'image -->
      <transition-group name="fade" tag="div" class="list-images" v-if="field.multiple">
        <div v-for="image, key in images" :key="key"
             @click.stop="selectImageForEdition(image)"
             :class="{'selected-for-edition': selectedImageForEdition && selectedImageForEdition.id === image.id, 'disabled': httpOperationIsPending}"
             class="image-item">

          <thumbnail :media="image" :clickable="false" class="thumbnail"></thumbnail>

          <span @click.stop="removeSelectedImage(image)"
                class="button-remove" title="Enlever l'image">
              <i class="fa fa-times" aria-hidden="true"></i>
            </span>
        </div>
      </transition-group>

      <!-- Cropper -->
      <div class="image-editor">
        <img v-if="selectedImageForEdition"
             class="selected-image-for-edition"
             :src="selectedImagePath">
      </div>

      <!-- Les actions -->
      <div class="image-editor-actions container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h4>Actions</h4>
            <div class="btn-group">
              <button @click.prevent="cropperMove"
                      :disabled="httpOperationIsPending"
                      type="button" title="Déplacer" class="btn btn-default btn-sm">
                <i class="fa fa-arrows" aria-hidden="true"></i>
              </button>
              <button @click.prevent="cropperCrop"
                      :disabled="httpOperationIsPending"
                      type="button" title="Rogner" class="btn btn-default btn-sm">
                <i class="fa fa-crop" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn-group">
              <button @click.prevent="cropperZoomOut"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Dézoomer">
                <i class="fa fa-search-minus" aria-hidden="true"></i>
              </button>
              <button @click.prevent="cropperZoomIn"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Zoomer">
                <i class="fa fa-search-plus" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn-group">
              <button @click.prevent="cropperRotateAntiClockwise"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Rotation antihoraire">
                <i class="fa fa-rotate-left" aria-hidden="true"></i>
              </button>
              <button @click.prevent="cropperRotateClockwise"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Rotation horaire">
                <i class="fa fa-rotate-right" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn-group">
              <button @click.prevent="cropperFlipX"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Inverser horizontalement">
                <i class="fa fa-arrows-h" aria-hidden="true"></i>
              </button>
              <button @click.prevent="cropperFlipY"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Inverser verticalement">
                <i class="fa fa-arrows-v" aria-hidden="true"></i>
              </button>
            </div>
            <div class="btn-group">
              <button @click.prevent="cropperSetRatio(16/9)"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Ratio 16:9">16:9
              </button>
              <button @click.prevent="cropperSetRatio(4/3)"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Ratio 4:3">4:3
              </button>
              <button @click.prevent="cropperSetRatio(1)"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Ratio 1:1">1:1
              </button>
              <button @click.prevent="cropperSetRatio(2/3)"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Ratio 2:3">2:3
              </button>
              <button @click.prevent="cropperSetRatio(NaN)"
                      :disabled="httpOperationIsPending"
                      type="button" class="btn btn-default btn-sm" title="Ratio libre">Libre
              </button>
            </div>
          </div>

          <div class="col-md-3">
            <form class="form-inline image-display-size">
              <h4>
                Dimensions de la découpe
                <button @click.prevent="resetCropDimensions" class="btn btn-default btn-xs">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
              <div class="form-group">
                <label :for="'fieldImage-' + field.id + '-CropWidth'">Largeur</label>
                <div class="input-group input-group-sm">
                  <input :id="'fieldImage-' + field.id + '-CropWidth'"
                         :value="imageCropWidth" @change="updateImageCropWidth"
                         class="form-control input-xs" type="number" min="0">
                  <span class="input-group-addon">px</span>
                </div>
              </div>
              <div class="form-group">
                <label :for="'fieldImage-' + field.id + '-CropHeight'">Hauteur</label>
                <div class="input-group input-group-sm">
                  <input :id="'fieldImage-' + field.id + '-CropHeight'"
                         :value="imageCropHeight" @change="updateImageCropHeight"
                         class="form-control input-xs" type="number" min="0">
                  <span class="input-group-addon">px</span>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-3">
            <form class="form-inline image-display-size">
              <h4>
                Dimensions d'affichage
                <button @click.prevent="resetDisplayDimensions" class="btn btn-default btn-xs">
                  <i class="fa fa-refresh"></i>
                </button>
              </h4>
              <div class="form-group">
                <label :for="'fieldImage-' + field.id + '-DisplayWidth'">Largeur</label>
                <div class="input-group input-group-sm">
                  <input :id="'fieldImage-' + field.id + '-DisplayWidth'"
                         v-model.number="imageDisplayWidth"
                         @change="updateImageDisplayHeight"
                         class="form-control input-xs" type="number" min="0">
                  <span class="input-group-addon">px</span>
                </div>
              </div>
              <div class="form-group">
                <label :for="'fieldImage-' + field.id + '-DisplayHeight'">Hauteur</label>
                <div class="input-group  input-group-sm">
                  <input :id="'fieldImage-' + field.id + '-DisplayHeight'"
                         v-model.number="imageDisplayHeight"
                         @change="updateImageDisplayWidth"
                         class="form-control input-xs" type="number" min="0">
                  <span class="input-group-addon">px</span>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-2 form-group">
            <button @click.prevent="removeSelectedImage(selectedImageForEdition)"
                    :disabled="httpOperationIsPending"
                    title="Enlever du composant"
                    type="button" class="btn btn-danger btn-block btn-xs">
              <i class="fa fa-trash"></i>&nbsp;Enlever
            </button>

            <button @click.prevent="cropperReset"
                    :disabled="httpOperationIsPending"
                    title="Annuler les modifications"
                    type="button" class="btn btn-warning btn-block btn-xs">
              <i class="fa fa-times"></i>&nbsp;Annuler
            </button>

            <slot name="update-field-properties"></slot>

            <button @click.prevent="applyModification"
                    :disabled="httpOperationIsPending"
                    title="Appliquer les modifications"
                    type="button" class="btn btn-success btn-block btn-xs">
              <i class="fa fa-save"></i>&nbsp;Appliquer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from '../bus';
  import Events from '../events';

  import Http from './../NinaHttp';
  import * as Mutation from './../store/mutation-types'

  import throttle from 'lodash.throttle';
  import {mapGetters} from "vuex";

  import Thumbnail from '../components/Library/MediasExplorer/Thumbnail.vue';
  import ManagerOnUpdate from "./../components/ManagerOnUpdate";

  /**
   * @vue
   */
  export default {
    components: {
      Thumbnail
    },
    props: {
      // Le nom du composant associé au FieldImage
      componentClass: {type: String, required: true},
      // L'ID du composant associé au FieldImage
      componentId: {type: Number, require: false},
      // Le field qui contient la liste des images
      field: {type: Object, required: true},
      // Mimetypes images
      mimetypes: {type: Array, required: true},
      // L'image liée au FieldImage
      initialImages: {type: Array, required: true},
    },
    data () {
      return {
        /** @type {Array} */
        images: this.initialImages,
        imagesIdsToUnlink: [],
        selectedImageForEdition: null,
        $$selectedImageForEdition: null,
        imageCropWidth: 0,
        imageCropHeight: 0,
        imageDisplayWidth: 0,
        imageDisplayHeight: 0,

        /**
         * @type {ManagerOnUpdate}
         */
        ManagerOnUpdate: null
      }
    },
    computed: {
      ...mapGetters(['mediatheque', 'httpOperationIsPending']),
      selectedImagePath () {
        let imageData = this.selectedImageForEdition.data;
        let imagePath = imageData.path;

        // Si l'image actuelle est une image fille, on récupère l'image mère
        if ('__mother_image' in imageData) {
          imagePath = imageData['__mother_image'].data.path;
        }

        return this.$store.getters.options.nina_mediatheque_url + '/' + imagePath
      },
    },
    watch: {
      'images' () { // écoute aussi la sélection de médias
        if (this.images.length === 1) {
          this.selectImageForEdition(this.images[0]);
        }
        else if (this.images.length === 0) {
          this.selectImageForEdition(null);
        }
      },
      'selectedImageForEdition' () {
        // On attend que l'<img> soit correctement updaté
        this.$nextTick(function () {
          this.selectedImageHasChanged();
        });
      },
      'imageDisplayWidth' (value) {
        this.$set(this.selectedImageForEdition.data['__crop'], 'display_width', value);
      },
      'imageDisplayHeight' (value) {
        this.$set(this.selectedImageForEdition.data['__crop'], 'display_height', value);
      },
    },
    methods: {
      /**
       * Ouvre la Médiathèque pour choisir un fichier(s) à intégrer
       */
      openMediathequeFileChooser() {
        Bus.$emit(Events.SHOW_LIBRARY_THEN_NINA_MEDIATHEQUE);
      },

      /**
       * @param {Object} image
       */
      selectImageForEdition(image) {
        if (this.httpOperationIsPending) {
          return;
        }

        this.selectedImageForEdition = image;
      },

      /**
       * @param {Object} image
       */
      removeSelectedImage(image) {
        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_REMOVE_MEDIA_FROM_SELECTION, image.id);
        this.imagesIdsToUnlink.push(image.id);

        if (this.selectedImageForEdition === image) {
          if (this.images.length > 1) {
            this.selectImageForEdition(this.images[0]);
          } else {
            this.selectImageForEdition(null);
          }
        }
      },

      /**
       * Exécutée lorsque l'image sélectionnée à changée
       */
      selectedImageHasChanged() {
        const that = this;

        that.$$selectedImageForEdition = $('.selected-image-for-edition', that.$el);
        that.$$selectedImageForEdition.cropper('destroy');

        global.a = that.$$selectedImageForEdition;

        if (!that.selectedImageForEdition) {
          return;
        }

        that.ManagerOnUpdate.handleDialogs();

        const selectedImageForEditionDataCrop = that.selectedImageForEdition.data['__crop'];

        const aspectRatio =
          // Si on a déjà des dimensions de
          selectedImageForEditionDataCrop && selectedImageForEditionDataCrop['width']
            ? selectedImageForEditionDataCrop['width'] / selectedImageForEditionDataCrop['height']
            : that.$$selectedImageForEdition.width() / that.$$selectedImageForEdition.height();

        console.log(
          that.$$selectedImageForEdition.width(),
          that.$$selectedImageForEdition.height(),
          that.$$selectedImageForEdition.width() / that.$$selectedImageForEdition.height());

        that.$$selectedImageForEdition.cropper({
          viewMode: 2,
          autoCropArea: 1,
          aspectRatio: aspectRatio,
          data: selectedImageForEditionDataCrop,
          ready(e) {
            if (!selectedImageForEditionDataCrop) {
              that.$set(that.selectedImageForEdition.data, '__crop', that.$$selectedImageForEdition.cropper('getData', true));
            }

            if (selectedImageForEditionDataCrop && selectedImageForEditionDataCrop['display_width']) {
              that.imageDisplayWidth = selectedImageForEditionDataCrop['display_width'];
              that.imageDisplayHeight = selectedImageForEditionDataCrop['display_height'];
            } else {
              that.resetDisplayDimensions();
            }
          },
          // @ASTUCE: Si ça n'a pas d'effet, vérifier que data['__crop'] est composé d'entiers et de flottants (pas de string)
          crop(e) {
            console.log('CROP', e);

            that.imageCropWidth = parseInt(e.width, 10);
            that.imageCropHeight = parseInt(e.height, 10);

            that.selectedImageForEdition.data['__crop'] = {
              ...that.selectedImageForEdition.data['__crop'],
              ...that.$$selectedImageForEdition.cropper('getData', true)
            }
          },
        });
      },

      resetCropDimensions () {
        const imageData = this.$$selectedImageForEdition.cropper('getImageData');

        this.$$selectedImageForEdition.cropper('setData', {
          height: imageData.naturalHeight,
          width: imageData.naturalWidth,
        })
      },

      /**
       * *
       */
      updateImageCropWidth (e) {
        const width = parseInt(e.target.value, 10);
        this.$$selectedImageForEdition.cropper('setData', {width});
      },

      /**
       *
       */
      updateImageCropHeight (e) {
        const height = parseInt(e.target.value, 10);
        this.$$selectedImageForEdition.cropper('setData', {height});
      },

      /**
       *
       */
      resetDisplayDimensions () {
        const data = this.$$selectedImageForEdition.cropper('getData');
        this.imageDisplayWidth = parseInt(data.width, 10);
        this.imageDisplayHeight = parseInt(data.height, 10);
      },

      /**
       *
       */
      updateImageDisplayHeight () {
        const imageData = this.$$selectedImageForEdition.cropper('getImageData');
        const aspectRatio = imageData.aspectRatio;

        this.imageDisplayHeight = Math.round(this.imageDisplayWidth / aspectRatio);
      },

      /**
       *
       */
      updateImageDisplayWidth () {
        const imageData = this.$$selectedImageForEdition.cropper('getImageData');
        const aspectRatio = imageData.aspectRatio;

        this.imageDisplayWidth = Math.round(this.imageDisplayWidth * aspectRatio);
      },

      /**
       * Applique un « Move » à l'image en cours d'édition.
       */
      cropperMove () {
        this.$$selectedImageForEdition.cropper('setDragMode', 'move');
      },

      /**
       * Applique un « Crop » à l'image en cours d'édition.
       */
      cropperCrop () {
        this.$$selectedImageForEdition.cropper('setDragMode', 'crop');
      },

      /**
       * Applique un « ZoomOut » à l'image en cours d'édition.
       */
      cropperZoomOut () {
        this.$$selectedImageForEdition.cropper('zoom', -.1)
      },

      /**
       * Applique un « ZoomIn » à l'image en cours d'édition.
       */
      cropperZoomIn () {
        this.$$selectedImageForEdition.cropper('zoom', .1)
      },

      /**
       * Applique un « RotateAntiClockwise » à l'image en cours d'édition.
       */
      cropperRotateAntiClockwise() {
        this.$$selectedImageForEdition.cropper('rotate', 22.5);
      },

      /**
       * Applique un « RotateClockwise » à l'image en cours d'édition.
       */
      cropperRotateClockwise() {
        this.$$selectedImageForEdition.cropper('rotate', -22.5);
      },

      /**
       * Applique un « FlipX » à l'image en cours d'édition.
       */
      cropperFlipX() {
        const data = this.$$selectedImageForEdition.cropper('getData');
        this.$$selectedImageForEdition.cropper('scale', data.scaleX * -1, data.scaleY)
      },

      /**
       * Applique un « FlipY » à l'image en cours d'édition.
       */
      cropperFlipY() {
        const data = this.$$selectedImageForEdition.cropper('getData');
        this.$$selectedImageForEdition.cropper('scale', data.scaleX, data.scaleY * -1)
      },

      /**
       * Applique un « SetRatio » à l'image en cours d'édition.
       * @param {Number} ratio
       */
      cropperSetRatio(ratio) {
        this.$$selectedImageForEdition.cropper('setAspectRatio', ratio);
      },

      /**
       * Annule les changements en cours, à l'image en cours d'édition.
       */
      cropperReset() {
        this.$$selectedImageForEdition.cropper('reset');
      },

      applyModification () {
        const data = {
          image_id: this.selectedImageForEdition.id,
          crop: this.selectedImageForEdition.data['__crop']
        };

        Http.Mediatheque.cropImage(this.mediatheque.name, data, (json) => {
          if(json.error) {
            return;
          }

          const motherImage = json['mother_image'];
          const daughterImage = json['daughter_image'];

          Bus.$emit(Events.Mediatheque.Navigation.REFRESH);
          Bus.$emit(Events.REFRESH_THUMBNAILS, daughterImage.id);

          if (this.selectedImageForEdition.id === json['mother_image'].id) {
            this.removeSelectedImage(this.selectedImageForEdition);
          }

          this.selectedImageForEdition = daughterImage;
          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_REMOVE_MEDIA_FROM_SELECTION, motherImage.id);
          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_MEDIA_TO_SELECTION, daughterImage);
        })
      }
    },
    mounted () {
      Bus.$on(Events.ASK_FOR_ENABLE_MEDIAS_SELECTION, (fieldId) => {
        if (fieldId !== this.field.id) {
          return;
        }

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PREPARE_MEDIAS_SELECTION, {
          fieldId: this.field.id,
          medias: this.images,
          max: this.field.max,
          infinite: this.field.infinite,
          multiple: this.field.multiple,
        });
      });

      Bus.$on(Events.ASK_FOR_MEDIATHEQUES_FILTERS, (fieldId) => {
        if (fieldId !== this.field.id) {
          return;
        }
        const filters = [];

        filters.push(file => this.mimetypes.includes(file.data.mimetype));

        this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_SET_FILTERS, filters);
      });

      Bus.$on(Events.FIELD_WILL_BE_VISIBLE, (fieldId, ManagerOnUpdate) => {
        if (fieldId !== this.field.id) {
          return;
        }

        this.ManagerOnUpdate = ManagerOnUpdate;

        if (this.images.length > 0) {
          this.selectImageForEdition(this.images[0]);
        }
      })
    },
    destroyed () {
      Bus.$off(Events.ASK_FOR_ENABLE_MEDIAS_SELECTION);
      Bus.$off(Events.ASK_FOR_MEDIATHEQUES_FILTERS)
    }
  }
</script>

<style scoped lang="scss">
  $borderWidth: 3px;

  .alert-warning {
    padding: .5em;
    margin-bottom: 1em;
  }

  .list-images {
    margin: 8px 0;
  }

  .image-item {
    position: relative;
    display: inline-block;
    width: 64px + 2 * $borderWidth;
    height: 64px + 2 * $borderWidth;
    margin: 2px;

    box-shadow: 0 0 1px #000;
    border: $borderWidth solid white;
    border-radius: 2px;
    cursor: pointer;

    &.disabled {
      opacity: .4;
      pointer-events: none;
    }

    &.selected-for-edition {
      border-color: dodgerblue;
      box-shadow: none;
    }

    &:hover {
      .button-remove {
        display: inline;
      }
    }
  }

  .button-remove {
    display: none;

    position: absolute;
    z-index: 5111;
    top: -9px;
    right: -9px;
    height: 18px;
    width: 18px;
    padding: 1px 0 0 4px;

    font-size: 12px;
    border-radius: 50%;
    cursor: pointer;

    $bg: #2c2a33;
    background-color: $bg;
    color: lighten($bg, 75%);
    box-shadow: 0 0 1px rgba(darken($bg, 10%), .9);

    &:hover {
      background-color: lighten($bg, 15%);
    }
  }

  .image-editor {
    height: 400px;

    .selected-image-for-edition {
      max-width: 100%;
    }
  }

  .image-editor-actions {
    .row {
      margin-top: 5px;
    }

    .row > :not(:last-child) {
      border-right: 1px solid rgba(#000, .12);
    }

    h4 {
      margin: .25em 0;
    }

    .btn,
    .form-inline .form-group {
      margin: 2px 0;
    }
  }

  input[type=number] {
    width: 90px !important;
  }
</style>
