<template>
  <div>
    <table class="table">
      <thead>
      <tr>
        <th>Adresse URL</th>
        <th>Libellé</th>
        <th style="width: 25%">Options</th>
        <th style="width: 1%"></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="link, index in links">
        <td>
          <input v-model="link.url" :name="inputName(index, 'url')"
                 type="url" class="form-control input-xs" placeholder="https://">
        </td>
        <td>
          <input v-model="link.label" :name="inputName(index, 'label')"
                 class="form-control input-xs" placeholder="Lien vers ...">
        </td>
        <td>
          <label class="checkbox-inline">
            <input v-model="link.target_blank" :name="inputName(index, 'target_blank')" type="checkbox">
            Ouvrir dans une nouvelle fenêtre
          </label>
        </td>
        <td>
          <button @click="removeLink(index)" :disabled="links.length <= min" type="button"
                  class="btn btn-xs btn-danger">
            <i class="fa fa-remove"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>

    <button @click="addLink" :disabled="!infinite && links.length >= max"
            type="button" class="btn btn-xs btn-primary">Ajouter un lien
    </button>
  </div>
</template>

<script>
  /**
   * @vue
   */
  export default {
    props: {
      field: {type: Object, required: true},
      fieldValue: {type: Array, required: false},
    },
    data () {
      return {
        links: this.fieldValue || []
      }
    },
    computed: {
      id () {
        return this.field.id;
      },
      min () {
        return this.field.min;
      },
      max () {
        return this.field.max;
      },
      infinite () {
        return this.field.infinite;
      },
    },
    methods: {
      inputName(index, name) {
        return `fieldsValues[${this.id}][${index}][${name}]`
      },
      addLink() {
        this.links.push({
          url: '',
          label: '',
          target_blank: true,
        })
      },
      removeLink(index) {
        this.links.splice(index, 1);
      }
    },
    mounted () {
      // On ajoute des liens tant qu'on arrive pas à la valeur minimale
      while (this.links.length < this.min) {
        this.addLink();
      }
    }
  }
</script>
