/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */

[id^="Nina_Article_"] {
    .title {
        text-transform: uppercase;
    }

    .chapeau {
        font-weight: bolder;
        color: lighten(#000, .1);
        font-style: italic;
    }

    .content {

    }

    .image-illustration {
        opacity: 0.8;
        transition: opacity .2s linear;

        &:hover {
            opacity: 1;
        }
    }
}
