{% extends BaseComponent %}

{% set tag = ninaObject.fieldsValues['tag'] | default('article') %}

{%- block class -%}
    {{- "NinaObject NinaObjectEditable" -}}
{%- endblock -%}

{% block content %}
    {{ renderField('title') }}
    {{ renderField('chapeau', 'Html') }}
    {{ renderField('content', 'Html') }}
    {{ renderField('illustration_image', 'Image') }}
    {{ renderField('other_images', 'Images') }}
    {{ renderField('created_at', 'CreatedAt') }}
{% endblock %}
