{#
Utiliser ce template de base permet de configurer et d'automatiser le rendu du composant,
en fonction de la variable `ninaObject` [1] :

    - Attribut id => « 'Nina_' + classe + '_' + id »
    - Le tag HTML de la racine du composant ('div' par défaut),
    - Le contenu (body) du composant + inclusion des composants enfants,
    - L'attribut class => utilise `ninaObject.object['customClasses']`,
    - L'attribut style => utilise `ninaObject.object['style']`,

Utilisation dans les templates enfants
--------------------------------------

## Au début de chaque template de composant [2] :

    {% extends BaseComponent %}

## Configurer le tag HTML à utiliser pour la racine du composant :

    {% set tag = 'mon-tag' %}

## Configurer le contenu d'un composant :

    {% block content %}
        <p>Voici le contenu de mon composant</p>
    {% endblock %}

    ou:

    {% block content %}
        <p>Je suis avant le content de mon parent</p>

        {{ parent() }}

        <p>Je suis après le content de mon parent</p>

        <p>
            {{ parent() }} permet de récupérer et le contenu du block parent "content",
            qui a pour seul et unique rôle d'afficher les enfants grâce à `ninaObject.children`.
        </p>
    {% endblock %}

## Surcharger l'attribut class:

    {% block class %}
        {{ parent() }} nom-de-class foo bar
    {% endblock %}

## Surcharger l'attribut style :

    {%  block style %}
        {{ parent() }} color:red; background-color: #ABCDEF
    {% endblock %}

[1] Voir BaseComponent::prepareForDisplay()

[2] Raccourci pour inclure ce template

#}

{% set id = "Nina_" ~ ninaObject.model['class'] ~ '_' ~ ninaObject.model['id'] %}
{% set class = ninaObject.properties.attrClass ~ ' ' ~ block('class') %}

{% spaceless %}
    <{{ tag | default(ninaObject.properties.tag) }} id="{{ id }}" class="{{ class }}" style="{% block style %}{{ ninaObject.model['styles'] | ninaStyles }}{% endblock %}">
    {% block content %}
        {% for ninaObject in ninaObject.children %}
            {% include ninaObject.template %}
        {% endfor %}
    {% endblock %}
    </{{ tag | default(ninaObject.properties.tag) }}>
{% endspaceless %}
