{% extends BaseComponent %}

{% block class 'NinaObject NinaObjectEditable' %}

{% block content %}
    <div>
        <h1>Composant de test</h1>

        {{ renderField('test_contenu', 'Html') }}
        <hr>
        {{ renderField('test_contenu_2', 'Html') }}
        <hr>
        {{ renderField('test_fichier', 'Files') }}
        <hr>
        {{ renderField('test_fichier_2', 'Files') }}
        <hr>
        {{ renderField('test_links', 'Links') }}
        <hr>
        {{ renderField('test_links_2', 'Links') }}


        <h2>FieldList</h2>
        <div>{{ ninaObject.fieldsValues['test_list'] }}</div>

        <h2>FieldCheckboxes</h2>
        <div>test_checkbox_1 : {{ ninaObject.fieldsValues['test_checkbox_1'] ? 'true' : 'false' }}</div>
        <div>test_checkbox_2 : {{ ninaObject.fieldsValues['test_checkbox_2'] ? 'true' : 'false' }}</div>
        <div>test_checkboxes_1 : {{ ninaObject.fieldsValues['test_checkboxes_1'] ? 'true' : 'false' }}</div>
        <div>test_checkboxes_2 : {{ ninaObject.fieldsValues['test_checkboxes_2'] ? 'true' : 'false' }}</div>
        <div>test_checkboxes_3 : {{ ninaObject.fieldsValues['test_checkboxes_3'] ? 'true' : 'false' }}</div>
    </div>
{% endblock %}
