<!doctype html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="DC.language" content="fr">
    <meta name="DC.format" content="text/html">
    <meta name="DC.publisher" content="NinaCMS">
    <meta property="og:site_name" content="ninacms.com"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Labotest"/>
    <meta property="og:description" content="Labotest - Site de test"/>
    <meta property="og:url" content="http://localhost/labotest"/>
    <meta property="og:type" content="article"/>
    <meta name="title" content="Labotest">
    <title>Labotest</title>
    <link rel="stylesheet" href="{{ url('assets/css/nina.css') }}">
    <style type="text/css">
        body {
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            width: 100%;
            max-width: 1024px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    </style>
    {% for componentClass, componentStyles in styles %}
        {% for style in componentStyles %}
            <link rel="stylesheet" href="{{ url('assets/components/' ~ componentClass ~ style) }}">
        {% endfor %}
    {% endfor %}
</head>
<body>

<a href="{{ url('/admin/?root_id=1') }}">Administration</a>

{% autoescape false %}
    {{ content }}
{% endautoescape %}

<script src="{{ url('assets/js/nina.js') }}"></script>
{# TODO: Penser à intégrer les JS #}

</body>
</html>
