{#

{% set autoClosing = true %}     indique qu'on utilise une balise auto-fermante (ex : <img />)

{% block content %}
    Permet d'écrire à l'intérieur du fragment, si `autoClosing` n'est pas défini ou à `false`.
{% endblock %}

{% block attributes %}
    data-foo="bar"
    rows="3"
    datetime="..."
{% endblock %}

#}

{% set shouldAutoClose = autoClosing is defined and autoClosing == true %}

<{{ tag }} {% block attributes %}{% endblock %} {% if attrClass %}class="{{ attrClass }}"{% endif %}{{ shouldAutoClose ? '/>' : '>' }}

{% if not shouldAutoClose %}
    {%- block content -%}
        {{ value }}
    {%- endblock -%}
    </{{ tag }}>
{% endif %}
