{% extends BaseFragment %}

{% set tag = 'img' %}
{% set autoClosing = true %}

{% set media = media | default(medias.0) %}

{% block attributes %}
    src="{{ url(ninaMediathequeUrl ~ media.data.path) }}{% if media.data.__updated_at %}?ts={{ media.data.__updated_at }}{% endif %}"
{% endblock %}

