{% extends BaseFragment %}

{% set tag = 'time' %}

{% block attributes %}
    datetime="{{ value }}"
{% endblock %}

{% block content %}
    {{ value | localizeddate('medium', 'none', ninaLocale) }}
{% endblock %}
