{% extends BaseFragment %}

{% block content %}
    {% for media in medias %}
        <div>
            {% include './FragmentImage.html.twig' with {'attrClass': ''} %}
        </div>
    {% endfor %}
{% endblock %}
