{% extends BaseFragment %}

{% block content %}
    <ul>
        {% for file in medias %}
            <li>
                {% include './FragmentFile.html.twig'  with {'attrClass': ''} %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
