{% extends BaseFragment %}

{% set tag = 'a' %}
{% set file = file|default(medias.0) %}

{% block attributes %}
    href="{{ url(ninaMediathequeUrl ~ file.data.path) }}"
{% endblock %}

{% block content %}
    {{ file.label }} ({{ file.data.mimetype }})
{% endblock %}
