{% extends BaseFragment %}

{% set tag = 'a' %}
{% set link = link|default(value) %}

{% block attributes %}
    href="{{ url(link.url) }}"

    {% if link.target_blank %}
        target="_blank"
    {% endif %}
{% endblock %}

{% block content %}
    {{ link.label }}
{% endblock %}
