{% extends BaseFragment %}

{% set tag = 'ul' %}

{% block content %}
    {% for link in value %}
        <li>
            {% include 'FragmentLink.html.twig' with {'attrClass': ''} %}
        </li>
    {% endfor %}
{% endblock %}
