<template>
  <div>
    <div class="modal" title="Créer un nouveau dossier">
      <div class="form-group" :class="{'has-error': !valid}">
        <input v-model="fileName" @keyup.enter="create"
               type="text" class="form-control">

        <div v-if="!valid && errorMessage.length > 0" class="help-block">
          <p>{{errorMessage}}</p>
        </div>
      </div>

      <div class="text-right">
        <button @click.prevent="close" class="btn btn-default">Annuler</button>
        <button @click.prevent="create" :disabled="!valid" class="btn btn-primary">Créer</button>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from '../../../../bus'
  import Events from '../../../../events'

  import validateFileName from './validateFileName'

  export default {
    props: {
      'medias-containers': {type: Array, required: true},
    },
    data () {
      return {
        fileName: '',
        valid: true,
        errorMessage: '',
        errorMessages: {
          isEmpty: 'Le nom du dossier ne peut être vide.',
          isOnlyComposedWithSpacesOrDots: 'Le nom du dossier ne peut être uniquement composé d\'espaces ou de points.',
          isContainingNotAllowedChars: 'Le nom du dossier contient un caractère interdit « {char} ».',
          isAlreadyExisting: 'Un dossier du même nom existe déjà.',
        }
      }
    },
    computed: {
      $$modal () {
        return $(this.$el.querySelector('.modal'))
      },
    },
    watch: {
      fileName () {
        this.checkNameValidity()
      }
    },
    methods: {
      checkNameValidity () {
        const {valid, errorMessage} = validateFileName(this.fileName, this.mediasContainers, this.errorMessages)
        this.valid = valid
        this.errorMessage = errorMessage
      },
      create () {
        this.checkNameValidity()

        if (!this.valid) {
          return
        }

        Bus.$emit(Events.Mediatheque.MediasContainer.CREATE, this.fileName)
      },
      close () {
        this.$$modal.dialog('close')
        this.fileName = ''
        this.$nextTick(function () {
          this.valid = true
          this.errorMessage = ''
        })
      },
    },
    created () {
      Bus.$on(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_SHOW_DIALOG, () => {
        this.$$modal.dialog('open')
      })

      Bus.$on(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_IS_CREATED, () => {
        this.close()
      })

      Bus.$on(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_IS_NOT_CREATED, () => {
        this.errorMessage = 'Le dossier n\'a pas pu être créé'
      })
    },
    mounted () {
      this.$$modal.dialog({
        autoOpen: false,
        show: {effect: 'fadeIn', duration: 250},
        hide: {effect: 'fadeOut', duration: 250},
        modal: true,
        draggable: false,
        resizable: false,
        position: {
          my: 'center center',
          at: 'center center',
          of: document.querySelector('#library')
        },
        create: function (event) {
          $(event.target).parent().css('position', 'fixed')
        },
      })
    }
  }
</script>
