<template>
  <div>
    <div class="modal" title="Renommer un média">
      <div class="form-group" :class="{'has-error': !valid}">
        <input v-model="fileName" @keyup.enter="rename"
               type="text" class="form-control dialog-input-text">

        <div v-if="!valid && errorMessage.length > 0" class="help-block">
          <p>{{errorMessage}}</p>
        </div>
      </div>

      <div class="text-right">
        <button @click.prevent="close" class="btn btn-default">Annuler</button>
        <button @click.prevent="rename" :disabled="!valid || fileName === originalFileName" class="btn btn-primary">
          Renommer
        </button>
      </div>
    </div>
  </div>
</template>

<script>
  import Bus from '../../../../bus'
  import Events from '../../../../events'

  import validateFileName from './validateFileName'

  export default {
    props: {
      medias: {type: Array, required: true}
    },
    data () {
      return {
        file: null,
        fileName: '',
        originalFileName: '',
        valid: true,
        errorMessage: '',
        errorMessages: {
          isEmpty: 'Le nom du média ne peut être vide.',
          isOnlyComposedWithSpacesOrDots: 'Le nom du média ne peut être uniquement composé d\'espaces ou de points.',
          isContainingNotAllowedChars: 'Le nom du média contient un caractère interdit « {char} ».',
          isAlreadyExisting: 'Un média du même nom existe déjà.',
        }
      }
    },
    computed: {
      $$modal () {
        return $(this.$el.querySelector('.modal'))
      },
      $$fieldFileName () {
        return this.$$modal.find('.dialog-input-text')
      },
      siblings () {
        const index = this.medias.findIndex(mc => mc.label === this.originalFileName)
        const medias = [...this.medias]
        medias.splice(index, 1)

        return medias
      }
    },
    watch: {
      fileName () {
        this.checkNameValidity()
      }
    },
    methods: {
      checkNameValidity () {
        const {valid, errorMessage} = validateFileName(this.fileName, this.siblings, this.errorMessages)
        this.valid = valid
        this.errorMessage = errorMessage
      },
      rename () {
        this.checkNameValidity()

        if (!this.valid) {
          return
        }

        Bus.$emit(Events.Mediatheque.Media.RENAME, this.file, this.fileName)
      },
      close () {
        this.$$modal.dialog('close')
        this.fileName = ''
        this.$nextTick(function () {
          this.valid = true
          this.errorMessage = ''
        })
      },
    },
    created () {
      Bus.$on(Events.Mediatheque.Dialogs.RENAME_MEDIA_SHOW_DIALOG, (file) => {
        this.file = file
        this.fileName = this.originalFileName = this.file.label
        this.$$modal.dialog('open')

        // On a modifié this.fileName, donc on attend que Vue termine les modifs sur l'input
        this.$nextTick(function () {
          this.$$fieldFileName.focus()

          // >IE 9
          if ('setSelectionRange' in HTMLInputElement.prototype) {
            const fileNameParts = this.fileName.split('.')

            if (fileNameParts.length >= 2) {
              this.$$fieldFileName.get(0).setSelectionRange(0, this.fileName.length - fileNameParts.pop().length - 1)
            }
          }
        })
      })

      Bus.$on(Events.Mediatheque.Dialogs.RENAME_MEDIA_IS_RENAMED, () => {
        this.close()
      })

      Bus.$on(Events.Mediatheque.Dialogs.RENAME_MEDIA_IS_NOT_RENAMED, () => {
        this.errorMessage = 'Le dossier n\'a pas pu être créé'
      })
    },
    mounted () {
      this.$$modal.dialog({
        autoOpen: false,
        show: {effect: 'fadeIn', duration: 250},
        hide: {effect: 'fadeOut', duration: 250},
        modal: true,
        draggable: false,
        resizable: false,
        position: {
          my: 'center center',
          at: 'center center',
          of: document.querySelector('#library')
        },
        create: function (event) {
          $(event.target).parent().css('position', 'fixed')
        },
      })
    }
  }
</script>
