<template>
  <div>
    <input id="dialog-upload-medias-input-file" type="file" multiple="multiple" style="display: none">

    <div class="modal" title="Envoyer des fichiers">
      <div class="modal-body">

        <div class="modal-header">

          <label for="dialog-upload-medias-input-file">
            Envoyer des fichiers
            (Taille maximale : {{ formattedMaximumFileInputSize }} Mo)
            (Tout type de fichier accepté)
          </label>

          <div>
            <button @click.prevent="openComputerFileChooser"
                    class="btn btn-sm btn-success" type="button">
              Sélectionner
            </button>

            <button @click.prevent="sendReadyFiles"
                    :disabled="readyFiles.length === 0"
                    class="btn btn-sm btn-primary" type="button">
              Tout envoyer
            </button>

            <button @click.prevent="cancelFiles"
                    :disabled="sendingFiles.length === 0"
                    class="btn btn-sm btn-warning" type="button">
              Tout annuler
            </button>
          </div>

          <h4>File d'attente</h4>
        </div>

        <div class="modal-content">
          <template v-if="queueFiles.length === 0">
            <div class="alert alert-info">
              La file d'attente est vide.
            </div>
          </template>
          <template v-else>

            <div class="container-fluid list">
              <transition-group name="fade" tag="div">
                <div v-for="file in queueFiles" :key="file" class="row">

                  <div class="col-md-5 list--filename">
                    {{file.label }}
                  </div>

                  <div class="col-md-3 list--progress">
                    <div class="progress">
                      <div class="progress-bar" v-if="file.properties.progression > 0"
                           :style="{width: file.properties.progression + '%'}">
                        {{file.properties.progression + '%'}}
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 list-buttons">
                    <button @click.prevent="sendReadyFile(file)"
                            :disabled="file.state === 'sending'"
                            class="btn btn-sm btn-primary">
                      Envoyer
                    </button>
                    <button @click.prevent="cancelFile(file)"
                            class="btn btn-sm btn-warning">
                      Annuler
                    </button>
                  </div>

                </div>
              </transition-group>
            </div>
          </template>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import sha1 from 'sha1'
  import Bus from '../../../../bus'
  import Events from '../../../../events'

  import { mapGetters } from 'vuex'

  export default {
    props: {
      medias: {type: Array, required: true}
    },
    data () {
      return {
        queueFiles: [],
      }
    },
    computed: {
      ...mapGetters(['options', 'mediatheque']),
      $$modal () {
        return $('.modal', this.$el)
      },
      $$fieldFile () {
        return $('input:file', this.$el)
      },
      readyFiles () {
        return this.queueFiles.filter(file => file.properties.state === 'ready')
      },
      sendingFiles () {
        return this.queueFiles.filter(file => file.properties.state === 'sending')
      },
      formattedMaximumFileInputSize () {
        // Math.round(a * 10) / 10 permet de formatter le float avec 2 chiffres après la virgules
        return Math.round(this.options.maximum_file_upload_size / 1024 / 1024 * 10) / 10
      }
    },
    methods: {
      openComputerFileChooser () {
        this.$$fieldFile.click()
      },

      /**
       * Envoie tous les fichiers prêts à être envoyés.
       */
      sendReadyFiles () {
        this.readyFiles.forEach(this.sendReadyFile)
      },

      /**
       * Envoi un fichier qui est prêt à être envoyé.
       * @param {Object} file
       */
      sendReadyFile (file) {
        file.properties.state = 'sending'
        file.properties.jqXHR = this.$$fieldFile.fileupload('send', {files: [file.properties.realFile]})
          .error((jqXHR, textStatus, errorThrown) => {
            if (errorThrown === 'abort') {
              const index = this.queueFiles.indexOf(file)

              if (index > -1) {
                this.queueFiles.splice(index, 1)
              }
            }
          })
      },

      /**
       * Annule l'envoie de tous les fichiers qui sont en train d'être envoyés ou non.
       */
      cancelFiles () {
        this.sendingFiles.forEach(this.cancelFile)
      },

      /**
       * Annule un fichier qui est en train d'être envoyé
       * @param {Object} file
       */
      cancelFile (file) {
        if (file.properties.state === 'sending') {
          file.properties.jqXHR.abort()
        } else {
          const index = this.queueFiles.indexOf(file)

          if (index > -1) {
            this.queueFiles.splice(index, 1)
          }
        }
      },

      initJQueryFileUpload () {
        const that = this

        that.$$fieldFile.fileupload({
          url: 'upload/file',
          dataType: 'json',
          paramName: 'file',
          autoUpload: false,
          replaceFileInput: false,
          formData ($$form) {
            return [
              {name: 'destination_id', value: that.mediatheque.explorer.current_id}
            ]
          },
          add (e, data) {
            const realFile = data.files[0]
            const maxSize = that.options.maximum_file_upload_size

            if (realFile.size > maxSize) {
              alert(`Le fichier sélectionné dépasse la taille de ${that.formattedMaximumFileInputSize} Mo.`)
              return
            }

            that.queueFiles.push({
              label: realFile.name,
              properties: {
                realFile,
                state: 'ready',
                progression: 0
              }
            })
          },
          progress (e, data) {
            const file = that.findFileByRealFile(data.files[0])
            file.properties.progression = parseInt(data.loaded / data.total * 100, 10)
          },
          done (e, data) {
            const file = that.findFileByRealFile(data.files[0])

            that.queueFiles.splice(that.queueFiles.indexOf(file), 1)

            if (data.result['success'] === false) {
              alert(data.result['err'])
              return
            }

            if (file.label !== data.result['original_filename']) {
              that.$toasted.show(`Le fichier « ${data.result['original_filename']} » a bien été envoyé en tant que « ${file.label} » !`, {duration: 2500})
            } else {
              that.$toasted.show(`Le fichier « ${file.label} » a bien été envoyé ! `)
            }
          }
        })
      },

      /**
       * @param {Object} realFile
       * @return {Object}
       */
      findFileByRealFile (realFile) {
        const file = this.queueFiles.find(f => f.properties.realFile === realFile)

        if (!file) {
          console.error({
            realFile
          })
          throw new Error(`Impossible de trouver le fichier.`)
        }

        return file
      },

      close () {
        Bus.$emit(Events.Mediatheque.Navigation.REFRESH)

        this.$$modal.dialog('close')
      }
    },
    created () {
      Bus.$on(Events.Mediatheque.Dialogs.UPLOAD_MEDIA_SHOW_DIALOG, () => {
        this.$$modal.dialog('open')
      })
    },
    mounted () {
      const that = this

      this.$$modal.dialog({
        autoOpen: false,
        show: {effect: 'fadeIn', duration: 250},
        hide: {effect: 'fadeOut', duration: 250},
        height: 400,
        width: 600,
        modal: true,
        draggable: false,
        resizable: false,
        buttons: {
          'Fermer': function () {
            that.close()
          }
        },
        position: {
          my: 'center center',
          at: 'center center',
          of: document.querySelector('#library')
        },
        create: function (event) {
          $(event.target).parent().css('position', 'fixed')
        },
      })

      this.initJQueryFileUpload()
    }
  }
</script>

<style lang="scss" scoped>
  $color: #c4c4c4;

  .modal-body {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .modal-content {
    flex: 1;
    overflow: auto;
    margin-top: 5px;
  }

  h4 {
    margin: 1em 0;
  }

  .list {
    border-radius: 4px;
    border: 1px solid $color;

    .row {
      [class^="col-"],
      [class*=" col-"] {
        padding: 10px;
      }

      &:not(:first-child) {
        border-top: 1px solid $color;
      }
    }
  }

  .list--filename {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .list--progress {
    .progress {
      margin: 6px 0;
    }
  }

  .list--buttons {
    text-align: right;
  }

</style>
