<!doctype html>
<html>
<head>
    <title>Labotest</title>
    <link rel="stylesheet" href="{{ url('/assets/admin-interface/style.css') }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="DC.language" content="fr">
    <meta name="DC.format" content="text/html">
    <meta name="DC.publisher" content="NinaCMS">
    <meta property="og:site_name" content="ninacms.com"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Labotest"/>
    <meta property="og:description" content="Labotest - Site de test"/>
    <meta property="og:url" content="http://localhost/labotest"/>
    <meta property="og:type" content="article"/>
    <meta name="title" content="Labotest">
    <link rel="stylesheet" href="{{ url('assets/css/nina.css') }}">
</head>
<body>

<a href="{{ url('/', {'root_id': options.root_id}) }}">Partie publique</a>

<script>
  var ADMIN_OPTIONS = {{ options|json_encode|raw }};
</script>

<div id="app"></div>

<script src="{{ url('/assets/admin-interface/manifest.js') }}"></script>
<script src="{{ url('/assets/admin-interface/vendor.js') }}"></script>
<script src="{{ url('/assets/admin-interface/main.js') }}"></script>
</body>
</html>
