<div>
    {% for field in field.properties %}
        {% set fieldValue = ninaObject.fieldsValues[field.id] %}
        {% set label_for = 'form_' ~ field.id %}
        {% include field.template %}
    {% endfor %}

    {% if field.properties is empty %}
        <p>Aucune propriété n'a été définie pour ce champ.</p>
    {% endif %}
</div>
