<form action="#" id="NinaEditionForm" method="post">
    {% set ninaObjectId = ninaObject.id %}
    {% set ninaObjectClass = ninaObject.class  %}

    <input type="hidden" name="id" value="{{ ninaObject.id }}">
    <input type="hidden" name="class" value="{{ ninaObject.class }}">

    <div id="tabs">
        <ul>
            {% for tabId, tab in ninaObject.fields %}
                <li data-nina-tab="{{ tabId }}"><a href="#tabs-{{ tabId }}">{{ tab.name }}</a></li>
            {% endfor %}
        </ul>

        {% for tabId, tab in ninaObject.fields %}
            <div id="tabs-{{ tabId }}">
                {% for field in tab.fields %}
                    {% include field.template with {'fieldValue': ninaObject.fieldsValues[field.id]} %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <!-- Pour pouvoir valider le formulaire avec le clavier, mais sans dupliquer
    le bouton de la dialog jQuery -->
    <input type="submit" name="updateObject" tabindex="-1" style="position:absolute; top:-1000px">
</form>
