<template>
  <nav class="input-group">
    <div class="input-group-btn">
      <button @click.prevent="goToPrevious" :disabled="httpOperationIsPending || !canGoToPrevious"
              class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
      </button>

      <button @click.prevent="goToNext" :disabled="httpOperationIsPending || !canGoToNext" class="btn btn-default">
        <i class="fa fa-arrow-right"></i>
      </button>

      <button @click.prevent="goToParent" :disabled="httpOperationIsPending || !canGoToParent" class="btn btn-default">
        <i class="fa fa-arrow-up"></i>
      </button>

      <button @click.prevent="goToRoot" :disabled="httpOperationIsPending || !canGoToRoot" class="btn btn-default">
        <i class="fa fa-home"></i>
      </button>
    </div>

    <input :value="location" disabled class="form-control">
  </nav>
</template>

<script>
  import store from '../../../store'
  import { mapGetters } from 'vuex'

  import * as Mutation from '../../../store/mutation-types'

  const findGroup = (id) => {
    let group = store.getters.componentsGroupsTree
    let groups = group.children

    if (id === '__ROOT__' || id === '' || id === null) {
      return group
    }

    const idParts = id.split(':')

    for (let i = 1; group.id !== id; i++) {
      const currentId = idParts.slice(0, i).join(':')
      group = groups.find(group => group.id === currentId)
      groups = group.children
    }

    return group
  }

  export default {
    data () {
      return {
        prevIds: [],
        nextIds: []
      }
    },
    computed: {
      ...mapGetters(['httpOperationIsPending']),
      ...mapGetters({
        group: 'currentComponentGroup',
        rootGroup: 'componentsGroupsTree',
      }),
      location () {
        if (!this.group) {
          return '/'
        }

        return this.group.path
      },
      canGoToPrevious () {
        return this.prevIds.length > 0
      },
      canGoToNext () {
        return this.nextIds.length > 0
      },
      canGoToParent () {
        return this.group.id && (this.group.id !== '__ROOT__' || this.group.id.indexOf(':') !== -1)
      },
      canGoToRoot () {
        return true
      },
    },
    methods: {
      goToPrevious () {
        const prevId = this.prevIds.pop()
        const prevGroup = findGroup(prevId)

        this.nextIds.push(this.group.id)
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_SET_CURRENT_GROUP, prevGroup)
      },
      goToNext () {
        const nextId = this.nextIds.pop()
        const nextGroup = findGroup(nextId)

        this.prevIds.push(this.group.id)
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_SET_CURRENT_GROUP, nextGroup)
      },
      goToParent () {
        const parentId = this.group.id.split(':').slice(0, -1).join(':')
        const parentGroup = findGroup(parentId)

        this.prevIds.push(this.group.id)
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_SET_CURRENT_GROUP, parentGroup)
      },
      goToRoot () {
        const rootGroup = findGroup(null)

        this.prevIds.push(this.group.id)
        this.$store.commit(Mutation.COMPONENTS_EXPLORER_SET_CURRENT_GROUP, rootGroup)
      },
    }
  }
</script>

<style scoped>
  nav {
    margin-bottom: 5px;
  }
</style>
