/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";

@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

// Override la mixin button-size pour mettre "!important" à chaque règles, et contrer jQuery UI
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
    border-radius: $border-radius;
}

//@import "~bootstrap-sass/assets/stylesheets/bootstrap/normalize";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/scaffolding";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/utilities";
//@import "~bootstrap-sass/assets/stylesheets/bootstrap/responsive-utilities";

// Common CSS
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/tables";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/forms";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/buttons";

// Components
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/button-groups";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/input-groups";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/alerts";
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/progress-bars";

// JavaScript components
@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/dropdowns";

// Fixes + adds
.alert-thin {
    margin-bottom: .5em;
    padding: .5em;
}
