/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */

$gapBetweenComponents: 15px;

body {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    max-width: 1024px;
    overflow-y: scroll;
    overflow-x: hidden;
}

// Override des classes de visibilités
.nina-hidden-on-computer,
.nina-hidden-on-tablet,
.nina-hidden-on-smartphone {
    opacity: 1;

    > .NinaObjectManager > .NinaObjectContent {
        opacity: .4;
    }
}

// Quand les grilles "helper" sont visibles
#nina-app.grids-are-visible {

    #components {
        [id^="Nina_"] {
            box-shadow: 0 0 1px 0 rgba(#000, .45);
        }
        [id^="Nina_Column_"] {
            box-shadow: none;
        }
    }

    .NinaObjectManager,
    .NinaBlocManager {
        &.visible {
            //box-shadow: none;
            margin-top: $gapBetweenComponents * 2;
            margin-bottom: $gapBetweenComponents * 2;
        }
    }

    // Rajout d'espacement si un composant se trouve directement dans un autre (pas les colonnes !)
    .NinaObjectManager > .NinaObjectContent > .NinaObject.NinaObjectEditable {
        margin: $gapBetweenComponents;

        & + .NinaObject.NinaObjectEditable {
            margin-top: 0;
        }
    }

    /*
     * Si le premier enfant du .NinaObjectContent avait une marge haut ou
     * si le dernier enfant du .NinaObjectContent avait une marge basse (typiquement un titre h1),
     * alors le rendu était mauvais.
     * https://stackoverflow.com/questions/1394724/css-margin-top-when-parents-got-no-border?stw=2
     */
    .NinaObjectContent {
        overflow: auto;
    }
    .NinaObjectManager:hover > .NinaObjectContent {
        overflow: visible;
    }

    .NinaObjectEditable + .NinaObjectEditable {
        margin-top: $gapBetweenComponents;
    }

    // Pour mettre en valeur les colonnes du BlocManager
    .NinaBlocManager {
        [id^="Nina_Column_"] {
            min-height: 150px;
            padding-top: $gapBetweenComponents;
            padding-bottom: $gapBetweenComponents;

            border: 0 solid rgba(#838383, .5);
            border-right-width: 1px;

            &:last-child {
                border-right-width: 0;
            }
        }
    }

    // Permet de rajouter de l'espacement entre les colonnes
    [id^="Nina_Columns_"] {
        &:not(:first-child) {
            margin-top: 15px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

.NinaPlaceholder {
    padding: 1em 0;
    margin: $gapBetweenComponents 0;
    text-align: center;
    border-radius: 5px;
    border: 2px dashed #656c71;
    color: #555555;
    background-color: rgb(242, 242, 242)
}

.NinaPlaceholder.error {
    color: #cb0d03;
    border: 2px solid #910000;
    background-color: rgb(255, 185, 186)
}

.tooltip {
    display: none;
    opacity: 0;
    transition: opacity .15s;
    pointer-events: none;
    padding: 4px;
    z-index: 999;

    .tooltip-content {
        background: rgba(#000, .85);
        color: white;
        border-radius: 16px;
        padding: 5px 10px 4px;
    }

    &.tooltip-open-transitionend {
        display: block;
    }

    &.tooltip-after-open {
        opacity: 1;
    }
}

.nina-btn-group {
    font-size: 0;

    > .btn {
        margin-left: 0;
        margin-right: 0;

        &:not(:first-child) {
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
