/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */
@import '~vue-popperjs/dist/css/vue-popper.css';

.popper {
    box-shadow: none !important;
    padding: 4px !important;
    border: 1px solid #ccc !important;
}
