/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */

$componentManagerColor: #c7c7c7;
$componentManagerSecondColor: #f3f3f3;
$componentManagerBorderWidth: 1px;
