/*!
 * This file is part of NinaCMS.
 *
 * Copyright (c) 2017.
 *
 * For the full copyright and license information,
 * please view the LICENSE file that was distributed with this source code.
 */

// Vendors
@import "bootstrap";

$context-menu-icon-font-path: "~jquery-contextmenu/dist/font/";
@import "~jquery-contextmenu/src/sass/jquery.contextMenu";

@import "popper";

// Nina
@import "transitions";
@import "nina";

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }
