<template>
  <span>
    <i :class="'fa fa-' + findIcon()"></i>
  </span>
</template>

<script>
  export default {
    props: {
      mimetype: {type: String, default: null}
    },
    data () {
      return {
        icons: {
          'image': 'file-image-o',
          'video': 'file-video-o',
          'audio': 'file-audio-o',
        }
      }
    },
    methods: {
      findIcon () {
        if (this.mimetype in this.icons) {
          return this.icons[this.mimetype]
        }

        const [type, codec] = this.mimetype.split('/')

        if (type in this.icons) {
          return this.icons[type]
        }

        return 'file-o'
      }
    }
  }
</script>
