<template>
  <span v-if="mediasSelection != null">
    <input type="checkbox"
           @click="toggleSelection"
           :title="title"
           :checked="checked"
           :disabled="disabled">
  </span>
</template>

<script>
  import { mapGetters } from 'vuex'
  import * as Mutation from './../../../store/mutation-types'

  export default {
    props: {
      media: {type: Object, required: true},
    },
    data () {
      return {
        // Sert à afficher le mode "checked" sur la checkbox, mais on ne watch pas cette propriété
        checked: false,
        title: ''
      }
    },
    computed: {
      ...mapGetters(['mediatheque']),
      mediasSelection () {
        return this.mediatheque.explorer.medias_selection
      },
      selectedMedias () {
        return this.mediasSelection !== null ? this.mediasSelection.medias : []
      },
      selected () {
        return this.selectedMedias.findIndex(f => f.id === this.media.id) > -1
      },
      disabled () {
        const {max, infinite, medias} = this.mediasSelection

        if (this.checked) {
          return false
        }

        if (infinite) {
          return false
        }

        if (medias.length >= max) {
          this.title = `La sélection de médias est limitée à ${max}.`
          return true
        }
      }
    },
    watch: {
      selectedMedias () {
        const index = this.selectedMedias.findIndex(f => f.id === this.media.id)

        this.checked = index > -1
      }
    },
    methods: {
      toggleSelection (e) {
        const checked = e.target.checked

        if (checked) {
          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_PUSH_MEDIA_TO_SELECTION, this.media)
        } else {
          this.$store.commit(Mutation.MEDIATHEQUE_EXPLORER_REMOVE_MEDIA_FROM_SELECTION, this.media.id)
        }

        this.checked = checked
      }
    },
    created () {
      const index = this.selectedMedias.findIndex(f => f.id === this.media.id)

      if (index > -1) {
        this.checked = true
      }
    }
  }
</script>
