<template>
  <nav class="input-group">
    <div class="input-group-btn">
      <button @click.prevent="goToPrevious" :disabled="httpOperationIsPending || !canGoToPrevious"
              class="btn btn-default">
        <i class="fa fa-arrow-left"></i>
      </button>

      <button @click.prevent="goToNext" :disabled="httpOperationIsPending || !canGoToNext" class="btn btn-default">
        <i class="fa fa-arrow-right"></i>
      </button>

      <button @click.prevent="goToParent" :disabled="httpOperationIsPending || !canGoToParent" class="btn btn-default">
        <i class="fa fa-arrow-up"></i>
      </button>

      <button @click.prevent="goToRoot" :disabled="httpOperationIsPending || !canGoToRoot" class="btn btn-default">
        <i class="fa fa-home"></i>
      </button>

      <button @click.prevent="refresh" :disabled="httpOperationIsPending" class="btn btn-default">
        <i class="fa fa-refresh"></i>
      </button>
    </div>

    <input :value="location" disabled type="text" class="form-control">
  </nav>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Bus from './../../../bus'
  import Events from './../../../events'

  export default {
    props: {
      mediatheque: {type: Object, required: true}
    },
    data () {
      return {}
    },
    computed: {
      ...mapGetters(['httpOperationIsPending']),
      location () {
        if (!this.mediatheque.explorer.current_medias_container.data) {
          return ''
        }

        return this.mediatheque.explorer.current_medias_container.data.path
      },
      canGoToPrevious () {
        return this.mediatheque.explorer.prev_ids.length > 0
      },
      canGoToNext () {
        return this.mediatheque.explorer.next_ids.length > 0
      },
      canGoToParent () {
        return this.mediatheque.explorer.root_id !== this.mediatheque.explorer.current_medias_container.id
      },
      canGoToRoot () {
        return this.mediatheque.explorer.root_id !== this.mediatheque.explorer.current_id
      },
    },
    methods: {
      /**
       * Envoie l'événement 'GO_TO_PREVIOUS' au Bus correspondant à la Médiathèque courante.
       * @see MediasExplorer.vue
       */
      goToPrevious () {
        Bus.$emit(Events.Mediatheque.Navigation.GO_TO_PREVIOUS)
      },
      /**
       * Envoie l'événement 'GO_TO_NEXT' au Bus correspondant à la Médiathèque courante.
       * @see MediasExplorer.vue
       */
      goToNext () {
        Bus.$emit(Events.Mediatheque.Navigation.GO_TO_NEXT)
      },
      /**
       * Envoie l'événement 'GO_TO_PARENT' au Bus correspondant à la Médiathèque courante.
       * @see MediasExplorer.vue
       */
      goToParent () {
        Bus.$emit(Events.Mediatheque.Navigation.GO_TO_PARENT)
      },
      /**
       * Envoie l'événement 'GO_TO_ROOT' au Bus correspondant à la Médiathèque courante.
       * @see MediasExplorer.vue
       */
      goToRoot () {
        Bus.$emit(Events.Mediatheque.Navigation.GO_TO_ROOT)
      },
      /**
       * Envoie l'événement 'REFRESH' au Bus correspondant à la Médiathèque courante.
       * @see MediasExplorer.vue
       */
      refresh () {
        Bus.$emit(Events.Mediatheque.Navigation.REFRESH)
      }
    }
  }
</script>

<style scoped lang="scss">
  .input-group-btn .btn {
    // jQuery UI applique un "font-size: 1em" au <button>.
    // De ce fait, les <button> dans un .input-group-btn ont une
    // font-size qui devient 0.
    font-size: 14px !important;
  }
</style>
