<template>
  <div v-if="media.id" :class="'thumbnail ' + type">
    <template v-if="media.data.path">
      <!-- Trouver un meilleur moyen de faire ça, pour éviter la duplication, fonction render() -->
      <a v-if="clickable" :href="mediaFullPath" target="_blank">
        <img v-if="type === 'image'" :src="mediaFullPath + '?ts=' + ts">
      </a>
      <template v-else>
        <img v-if="type === 'image'" :src="mediaFullPath + '?ts=' + ts">
      </template>
    </template>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  import Bus from '../../../bus'
  import Events from '../../../events'

  export default {
    props: {
      media: {type: Object, required: true},
      clickable: {type: Boolean, default: true}
    },
    data () {
      return {
        fullPath: null,
        ts: +new Date() // timestamp, permettra d'outre passer le cache du navigateur pour ré-actualiser l'image
      }
    },
    computed: {
      ...mapGetters(['options']),
      type () {
        const [type, codec] = this.media.data.mimetype.split('/')
        return type
      },
      mediaFullPath () {
        return this.options.nina_mediatheque_url + this.media.data.path
      }
    },
    mounted () {
      Bus.$on(Events.REFRESH_THUMBNAILS, (mediaId) => {
        if (mediaId === this.media.id) {
          this.ts = +new Date()
        }
      })
    }
  }
</script>

<style scoped lang="scss">
  $height: 64px;

  .thumbnail {
    height: $height;
    text-align: center;
    overflow: hidden;

    background-size: $height $height;
    background: url('Thumbnail/unknown.png') no-repeat 50% 50%;
  }

  .thumbnail img {
    /*max-width: 100%;*/
    height: 100%;
  }

  .image {
    background-image: none;
  }

  .audio {
    background-image: url('Thumbnail/audio.png');
  }

  .video {
    background-image: url('Thumbnail/video.png');
  }
</style>
