<template>
  <div class="view">
    <div class="view--bar row">
      <div class="col-xs-9 view--bar-left">
        <button @click.prevent="showDialogCreateMediasContainer" type="button" class="btn btn-default btn-sm">
          Créer un dossier
        </button>
        <button @click.prevent="showDialogUploadMedias" type="button" class="btn btn-default btn-sm">
          Ajouter des médias
        </button>
      </div>
      <div class="col-xs-3 view--bar-right">
        <div class="btn-group">
          <button @click.prevent="viewType = 'Grid'" :class="{active: viewType == 'Grid'}"
                  type="button" class="btn btn-default"><i class="fa fa-th-large"></i></button>
          <button @click.prevent="viewType = 'List'" :class="{active: viewType == 'List'}"
                  type="button" class="btn btn-default"><i class="fa fa-list"></i></button>
        </div>
      </div>
    </div>

    <dialog-create-medias-container :medias-containers="files.medias_containers"></dialog-create-medias-container>
    <dialog-rename-medias-container :medias-containers="files.medias_containers"></dialog-rename-medias-container>
    <dialog-upload-medias :medias="files.medias"></dialog-upload-medias>
    <dialog-rename-media :medias="files.medias"></dialog-rename-media>

    <div class="view--files">
      <div v-if="httpOperationIsPending" class="alert alert-info loading">
        Chargement...
      </div>

      <template v-if="hasFiles">
        <!-- Le ":is='...'" permet de changer dynamiquement le composant affiché -->
        <component :is="'View' + viewType" :mediatheque="mediatheque"></component>
      </template>

      <div v-if="!httpOperationIsPending && !hasFiles" class="alert alert-info">
        Ce dossier est vide.
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import constantCase from 'constant-case'

  import Bus from '../../../bus'
  import Events from '../../../events'

  import DialogCreateMediasContainer from './Dialog/CreateMediasContainer.vue'
  import DialogRenameMediasContainer from './Dialog/RenameMediasContainer.vue'
  import DialogUploadMedias from './Dialog/UploadMedias.vue'
  import DialogRenameMedia from './Dialog/RenameMedia.vue'
  import List from './View/List.vue'
  import Grid from './View/Grid.vue'

  export default {
    components: {
      DialogCreateMediasContainer,
      DialogRenameMediasContainer,
      DialogUploadMedias,
      DialogRenameMedia,
      ViewList: List,
      ViewGrid: Grid,
    },
    props: {
      mediatheque: {type: Object, required: true}
    },
    data () {
      return {
        // Correspond au type de View à afficher (List, Grid).
        viewType: 'Grid',
      }
    },
    computed: {
      ...mapGetters(['httpOperationIsPending']),
      files () {
        return this.mediatheque.explorer.files
      },
      hasFiles () {
        return this.files && (this.files.medias_containers.length > 0 || this.files.medias.length > 0)
      },
    },
    methods: {
      showDialogCreateMediasContainer () {
        Bus.$emit(Events.Mediatheque.Dialogs.CREATE_MEDIAS_CONTAINER_SHOW_DIALOG)
      },
      showDialogUploadMedias () {
        Bus.$emit(Events.Mediatheque.Dialogs.UPLOAD_MEDIA_SHOW_DIALOG)
      }
    }
  }
</script>

<style scoped lang="scss">
  $color: #f0f0f0;

  .view {
    margin-top: 8px;
    border: 1px solid $color;
    border-radius: 3px;
  }

  .view--bar {
    padding: 5px;
    margin-right: 0;
    margin-left: 0;
    background-color: $color;
  }

  .view--bar-left {
    padding-left: 0;
  }

  .view--bar-right {
    text-align: right;
    padding-right: 0;
  }

  .view--files {
    position: relative;

    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .loading {
    position: absolute;
    z-index: 10;
    top: 5px;
    right: 5px;
  }
</style>
